In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("../../data/00-raw/FOIA-F067484-021424-snow-citations-streets-and-san.csv")
df.head()

,INSPECTOR NAME,INSPECTOR BADGE,VIOLATION CODE,INCIDENT TYPE,VIOLATION TYPE,DATE OF VIOLATION,INCIDENT NUMBER,DOCKET NUMBER,DEPARTMENT,DISPOSITION,WARD,DISTRICT,BEAT,PRECINCT,ADDRESS,CENTRAL BUSINESS DIST
0,Hal Eason,1302,10-8-180; 7-28-450(a); 7-28-710,DSS_OTHER,PROPERTY,Jan-24-2024,551421,NaN,DSS,NaN,9,5.0,532.0,NaN,"12411 S MICHIGAN AVE, Chicago, IL 60628",NaN
1,RANDY MOSBY,1517,10-8-180; 7-28-260(a); 7-28-261(b); 7-28-710,DSS_OTHER,PROPERTY,Jan-23-2024,551360,NaN,DSS,NaN,16,7.0,715.0,NaN,"5757 S MARSHFIELD AVE, Chicago, IL 60636",NaN
2,DANIEL HUICOCHEA,1519,10-8-180,DSS_OTHER,PROPERTY,Jan-22-2024,551338,NaN,DSS,NaN,14,8.0,824.0,NaN,"3101 W 59TH ST, Chicago, IL 60629",NaN
3,Marchelle Collins,1514,10-8-180; 7-28-060,DSS_OTHER,PROPERTY,Jan-22-2024,551336,NaN,DSS,NaN,3,1.0,133.0,NaN,"2620 S DEARBORN ST, Chicago, IL 60616",NaN
4,Michael Caputo,1492,10-8-180,DSS_OTHER,PROPERTY,Jan-19-2024,551262,24DS01697M,DSS,Not Liable,38,16.0,1614.0,NaN,"8354 W IRVING PARK RD, Chicago, IL 60634",NaN

In [3]:
df.rename(columns={'INSPECTOR NAME':'inspector','VIOLATION CODE':'violation_code',
                   'DATE OF VIOLATION':'violation_date','DOCKET NUMBER':'docket',
                   'DISPOSITION':'disposition','ADDRESS':'citation_address','WARD':'citation_ward'}, inplace=True)
df = df[['inspector','violation_code','violation_date','docket','disposition','citation_address','citation_ward']]
df['violation_date']=pd.to_datetime(df['violation_date'])

In [4]:
len(df)

649

In [5]:
df1923 = df[(df['violation_date']>='7/1/19') & 
           (df['violation_date']<='6/30/23')]

In [6]:
len(df1923)

530

# Export

In [7]:
df1923.to_csv('../../data/01-tidied/dss-citations.csv', index=False)