<h1>Snow Violations</h1>
9 January 2024

Revisiting 311 complaints related to snow clearance, I'm broadening my review to look at all related categories (not just uncleared sidewalk complaints)
<br>
My analysis steps:
<ol>
<li><a href="#docs">Review API Documentation</a>
<li><a href="#import">Import Libraries</a>
<li><a href="#retrieve_data">Get Data</a>
<li><a href="#review">Review Data</a>
</ol>

<h3>Preliminary Findings</h3>
<ul>
    <li>the origin of most complaints is phone call (30,697), internet (17,551), mobile (16,278), and alderman's office (3,353)
<li>most complaints are flagged with status as completed
</ul>

<a name = "docs"></a>
    <h1>1. Review Documentation</h1>

<h3>311 data</h3>
<ul>
    <li>Chicago Open Data Portal: <a href="https://data.cityofchicago.org/Service-Requests/311-Service-Requests/v6vf-nfxy">https://data.cityofchicago.org/Service-Requests/311-Service-Requests/v6vf-nfxy</a>
    <li>Chicago API: <a href="https://data.cityofchicago.org/resource/v6vf-nfxy.json">https://data.cityofchicago.org/resource/v6vf-nfxy.json</a>
        <li>API Documentation: https://dev.socrata.com/foundry/data.cityofchicago.org/v6vf-nfxy
            <li><b>Developer Portal (Socrata):</b> <a href="https://dev.socrata.com/">https://dev.socrata.com/</a> (general reference for Socrata)<br>
                <ul>
                    <li>SoQL Like: https://dev.socrata.com/docs/functions/like.html
                </ul>
</ul>

<a name = "import"></a>
<h1>2. Import Libraries</h1>

In [1]:
import pandas as pd
import requests
#import datetime as dt #would only need this if I manipulated dates post-API data retrieval

<a name = "retrieve_data"></a>
    <h1>3. Get Data</h1>

In [2]:
base_url = "https://data.cityofchicago.org/resource/v6vf-nfxy.json"
#select = "SR_NUMBER, SR_TYPE, SR_SHORT_CODE, CREATED_DATE, STREET_ADDRESS, COMMUNITY_AREA, WARD, OWNER_DEPARTMENT, STATUS, ORIGIN, CLOSED_DATE"
where = "SR_TYPE like '%25Snow%25'"
limit = 99999

url = f"{base_url}?$WHERE={where}&$LIMIT={limit}"
#url = f"{base_url}?$SELECT={select}&$WHERE={where}&$LIMIT={limit}"
print (url)

https://data.cityofchicago.org/resource/v6vf-nfxy.json?$WHERE=SR_TYPE like '%25Snow%25'&$LIMIT=99999

In [3]:
response = requests.get(url)
data = response.json()
print (response)

<Response [200]>

In [4]:
df=pd.DataFrame(data)
df.head()

,sr_number,sr_type,sr_short_code,owner_department,status,origin,created_date,last_modified_date,closed_date,street_address,...,y_coordinate,latitude,longitude,location,parent_sr_number,created_department,city,state,electrical_district,sanitation_division_days
0,SR21-00149474,Ice and Snow Removal Request,SDO,Streets and Sanitation,Completed,Mobile Device,2021-01-27T13:13:50.000,2023-09-08T00:02:32.000,2021-01-27T19:50:47.000,1700 W 15TH ST,...,1892802.505368,41.86145694,-87.668881384,"{'latitude': '41.8614569400972', 'longitude': ...",NaN,NaN,NaN,NaN,NaN,NaN
1,SR21-00177207,Ice and Snow Removal Request,SDO,Streets and Sanitation,Completed,Mobile Device,2021-02-01T10:19:34.000,2023-09-08T00:02:32.000,2021-02-01T15:12:41.000,1300 S HEATH AVE,...,1893968.108188,41.864744399,-87.684402435,"{'latitude': '41.86474439906268', 'longitude':...",NaN,NaN,NaN,NaN,NaN,NaN
2,SR21-00179217,Ice and Snow Removal Request,SDO,Streets and Sanitation,Completed,Mobile Device,2021-02-01T13:17:16.000,2023-09-08T00:02:32.000,2021-02-01T21:10:54.000,3242 W FULTON BLVD,...,1901911.930544,41.886675065,-87.707984972,"{'latitude': '41.88667506471757', 'longitude':...",NaN,NaN,NaN,NaN,NaN,NaN
3,SR21-00269268,Ice and Snow Removal Request,SDO,Streets and Sanitation,Completed,Mobile Device,2021-02-17T12:43:47.000,2023-09-08T00:02:32.000,2021-02-19T00:58:56.000,819 S BISHOP ST,...,1896322.916862,41.871081463,-87.662623788,"{'latitude': '41.8710814628718', 'longitude': ...",SR21-00261365,NaN,NaN,NaN,NaN,NaN
4,SR20-05442947,Snow - Object/Dibs Removal Request,SDW,Streets and Sanitation,Completed,Mobile Device,2020-11-11T19:40:31.000,2020-11-16T06:50:26.000,2020-11-16T06:50:26.000,3401 W 53RD ST,...,1869197.021269,41.79690071,-87.708733081,"{'latitude': '41.7969007096485', 'longitude': ...",NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# total number of records containing "snow"
len(df)

71909

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71909 entries, 0 to 71908
Data columns (total 38 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   sr_number                 71909 non-null  object
 1   sr_type                   71909 non-null  object
 2   sr_short_code             71909 non-null  object
 3   owner_department          71909 non-null  object
 4   status                    71909 non-null  object
 5   origin                    71909 non-null  object
 6   created_date              71909 non-null  object
 7   last_modified_date        71909 non-null  object
 8   closed_date               71782 non-null  object
 9   street_address            71707 non-null  object
 10  zip_code                  66470 non-null  object
 11  street_number             71707 non-null  object
 12  street_direction          71703 non-null  object
 13  street_name               71707 non-null  object
 14  street_type               70942 non-null  object
 15  duplicate                 71909 non-null  bool
 16  legacy_record             71909 non-null  bool
 17  community_area            71731 non-null  object
 18  ward                      71737 non-null  object
 19  electricity_grid          71729 non-null  object
 20  police_sector             71737 non-null  object
 21  police_district           71737 non-null  object
 22  police_beat               71737 non-null  object
 23  precinct                  71705 non-null  object
 24  created_hour              71909 non-null  object
 25  created_day_of_week       71909 non-null  object
 26  created_month             71909 non-null  object
 27  x_coordinate              71806 non-null  object
 28  y_coordinate              71806 non-null  object
 29  latitude                  71806 non-null  object
 30  longitude                 71806 non-null  object
 31  location                  71806 non-null  object
 32  parent_sr_number          11345 non-null  object
 33  created_department        34931 non-null  object
 34  city                      3137 non-null   object
 35  state                     3137 non-null   object
 36  electrical_district       518 non-null    object
 37  sanitation_division_days  518 non-null    object
dtypes: bool(2), object(36)
memory usage: 19.9+ MB

In [7]:
# parse date
df['created_date'] = pd.to_datetime(df['created_date'])
df['year'] = df['created_date'].dt.year
df['date'] = df['created_date'].dt.date

In [8]:
df.head()

,sr_number,sr_type,sr_short_code,owner_department,status,origin,created_date,last_modified_date,closed_date,street_address,...,longitude,location,parent_sr_number,created_department,city,state,electrical_district,sanitation_division_days,year,date
0,SR21-00149474,Ice and Snow Removal Request,SDO,Streets and Sanitation,Completed,Mobile Device,2021-01-27 13:13:50,2023-09-08T00:02:32.000,2021-01-27T19:50:47.000,1700 W 15TH ST,...,-87.668881384,"{'latitude': '41.8614569400972', 'longitude': ...",NaN,NaN,NaN,NaN,NaN,NaN,2021,2021-01-27
1,SR21-00177207,Ice and Snow Removal Request,SDO,Streets and Sanitation,Completed,Mobile Device,2021-02-01 10:19:34,2023-09-08T00:02:32.000,2021-02-01T15:12:41.000,1300 S HEATH AVE,...,-87.684402435,"{'latitude': '41.86474439906268', 'longitude':...",NaN,NaN,NaN,NaN,NaN,NaN,2021,2021-02-01
2,SR21-00179217,Ice and Snow Removal Request,SDO,Streets and Sanitation,Completed,Mobile Device,2021-02-01 13:17:16,2023-09-08T00:02:32.000,2021-02-01T21:10:54.000,3242 W FULTON BLVD,...,-87.707984972,"{'latitude': '41.88667506471757', 'longitude':...",NaN,NaN,NaN,NaN,NaN,NaN,2021,2021-02-01
3,SR21-00269268,Ice and Snow Removal Request,SDO,Streets and Sanitation,Completed,Mobile Device,2021-02-17 12:43:47,2023-09-08T00:02:32.000,2021-02-19T00:58:56.000,819 S BISHOP ST,...,-87.662623788,"{'latitude': '41.8710814628718', 'longitude': ...",SR21-00261365,NaN,NaN,NaN,NaN,NaN,2021,2021-02-17
4,SR20-05442947,Snow - Object/Dibs Removal Request,SDW,Streets and Sanitation,Completed,Mobile Device,2020-11-11 19:40:31,2020-11-16T06:50:26.000,2020-11-16T06:50:26.000,3401 W 53RD ST,...,-87.708733081,"{'latitude': '41.7969007096485', 'longitude': ...",NaN,NaN,NaN,NaN,NaN,NaN,2020,2020-11-11

In [9]:
df[df['sr_short_code']=='SWSNOREM'].head()

,sr_number,sr_type,sr_short_code,owner_department,status,origin,created_date,last_modified_date,closed_date,street_address,...,longitude,location,parent_sr_number,created_department,city,state,electrical_district,sanitation_division_days,year,date
5,SR19-02929866,Snow – Uncleared Sidewalk Complaint,SWSNOREM,CDOT - Department of Transportation,Completed,Internet,2019-11-12 09:31:20,2019-11-21T09:15:03.000,2019-11-21T09:15:03.000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,2019-11-12
15,SR24-00081195,Snow – Uncleared Sidewalk Complaint,SWSNOREM,CDOT - Department of Transportation,Completed,Mobile Device,2024-01-13 13:45:25,2024-02-07T07:56:40.000,2024-02-07T07:56:40.000,3337 W BELMONT AVE,...,-87.7116555,"{'latitude': '41.93901900094064', 'longitude':...",NaN,NaN,NaN,NaN,NaN,NaN,2024,2024-01-13
16,SR24-00034163,Snow – Uncleared Sidewalk Complaint,SWSNOREM,CDOT - Department of Transportation,Completed,Phone Call,2024-01-06 11:57:34,2024-01-10T13:59:24.000,2024-01-10T13:59:24.000,8738 S ESCANABA AVE,...,-87.554466,"{'latitude': '41.73615000093995', 'longitude':...",NaN,311 City Services,Chicago,Illinois,NaN,NaN,2024,2024-01-06
25,SR24-00055312,Snow – Uncleared Sidewalk Complaint,SWSNOREM,CDOT - Department of Transportation,Completed,Mobile Device,2024-01-09 18:57:40,2024-01-10T09:26:46.000,2024-01-10T09:26:46.000,1564 N HOYNE AVE,...,-87.680214,"{'latitude': '41.91004800094056', 'longitude':...",NaN,NaN,NaN,NaN,NaN,NaN,2024,2024-01-09
28,SR24-00076798,Snow – Uncleared Sidewalk Complaint,SWSNOREM,CDOT - Department of Transportation,Completed,Phone Call,2024-01-12 14:56:26,2024-01-17T14:14:38.000,2024-01-17T14:14:38.000,2115 W ARTHUR AVE,...,-87.6832965,"{'latitude': '41.99943600094085', 'longitude':...",NaN,311 City Services,Chicago,Illinois,NaN,NaN,2024,2024-01-12

<a name = "review"></a>
# 4. Explore Data

### Complaints by Status

In [10]:
df_by_status = df.pivot_table(index='status', columns='year', values='sr_number', aggfunc='size', fill_value=0)
df_by_status

year       2018  2019  2020   2021   2022  2023  2024
status
Canceled      0    12    18    556    375    32    15
Completed     1  3750  7881  29569  23600  2557  3416
Open          0     3    13     21     31     0    59

### Complaints by Origin

In [11]:
df_by_origin = df.groupby('origin')['sr_number'].agg('count').reset_index()
df_by_origin

                        origin  sr_number
0            Alderman's Office       3465
1    Chicago Police Department          2
2              City Department         19
3                       E-Mail         56
4           Generated In House          2
5                     Internet      18379
6                Mobile Device      17218
7                      Open311          1
8            Open311 Interface          2
9                   Phone Call      32181
10       Salesforce Mobile App        308
11  spot-open311-Chicago+Works        195
12    spot-open311-SeeClickFix         81

In [13]:
df_by_origin_by_year = df.pivot_table(index='origin', columns='year', values='sr_number', aggfunc='size', fill_value=0)
df_by_origin_by_year

year                        2018  2019  2020   2021   2022  2023  2024
origin
Alderman's Office              0   187   227   1240   1624    73   114
Chicago Police Department      0     0     0      0      0     2     0
City Department                0     0     3     16      0     0     0
E-Mail                         0     1     2     37     11     5     0
Generated In House             0     0     0      0      1     0     1
Internet                       0   944  2129   7727   5986   741   852
Mobile Device                  1  1078  2883   5500   5913   861   982
Open311                        0     1     0      0      0     0     0
Open311 Interface              0     0     0      1      0     1     0
Phone Call                     0  1543  2624  15324  10277   879  1534
Salesforce Mobile App          0     0    16    199     86     2     5
spot-open311-Chicago+Works     0     6    13     78     94     2     2
spot-open311-SeeClickFix       0     5    15     24     14    23     0

### 311 Complaints by Year
note that 2024 is only a partial year and data are missing for 1/1/23 to 1/12/23

In [14]:
#get latest date
max_date = df['date'].max()
max_date

datetime.date(2024, 2, 23)

In [15]:
df_by_year = df.groupby('year')['date'].agg(['count', 'min', 'max']).reset_index()
df_by_year

   year  count         min         max
0  2018      1  2018-12-30  2018-12-30
1  2019   3765  2019-01-12  2019-12-31
2  2020   7912  2020-01-01  2020-12-31
3  2021  30146  2021-01-01  2021-12-31
4  2022  24006  2022-01-01  2022-12-31
5  2023   2589  2023-01-01  2023-12-30
6  2024   3490  2024-01-02  2024-02-23

### Complaint Type Codes (SR_SHORT_CODE)

In [16]:
#connect short codes with descriptions
df_types = df.pivot_table(index=['sr_type','owner_department'], columns='sr_short_code', values='sr_number', aggfunc='size', fill_value=0)
df_types

,sr_short_code,SDO,SDW,SNPBLBS,SWSNOREM
sr_type,owner_department,,,,
Ice and Snow Removal Request,Streets and Sanitation,35830,0,0,0
Snow - Object/Dibs Removal Request,Streets and Sanitation,0,12899,0,0
Snow Removal - Protected Bike Lane or Bridge Sidewalk,CDOT - Department of Transportation,0,0,460,0
Snow – Uncleared Sidewalk Complaint,CDOT - Department of Transportation,0,0,0,22720

In [17]:
df_by_year = df.pivot_table(index='sr_type', columns='year', values='sr_number', aggfunc='size', fill_value=0)
df_by_year

year,2018,2019,2020,2021,2022,2023,2024
sr_type,,,,,,,
Ice and Snow Removal Request,0,1551,2119,19306,10688,717,1449
Snow - Object/Dibs Removal Request,0,225,355,4620,6300,594,805
Snow Removal - Protected Bike Lane or Bridge Sidewalk,0,11,49,130,211,28,31
Snow – Uncleared Sidewalk Complaint,1,1978,5389,6090,6807,1250,1205