# Track 311 Complaints
3/6/24

This notebook attempts to track uncleared sidewalk complaints, by matching to citations. I'm looking at one DSS-focused ward (15th) and one CDOT-focused ward (43rd)

### key findings
* ward #s in DSS citations dataset matches what I have in wards I looked up from geocoded dockets

<strong>Ward 15</strong>
* not accounting for date matches, 10 of 171 dockets matches an address that connects to a 311 complaint
* only 4 addresses seem to possibly match 311 to dockets, based on identical address and similar create date/violation date (4201 S. Artesian, 4400 S. Washtenaw, 4601 S. Rockwell, 4800 S. Honore)

<strong>Ward 43</strong>
* not accounting for date matches, 27 of 103 dockets matches an address that connects to a 311 complaint
* this doesn't show causation though. it could be that cdot/dss was going to ticket these addresses anyway
* far more matches between 311 and dockets, which suggests that CDOT is the primary (but not necessarily only) agency that handles 311 requests

# Read Data and Set Up Ward-Level Dataframes

In [1]:
import pandas as pd

### 311 complaints

In [2]:
df_311 = pd.read_csv("../../data/05-finalized/311-complaints-unshoveled.csv")
df_311.head()

,SR_NUMBER,SR_SHORT_CODE,CREATED_DATE,STREET_ADDRESS,COMMUNITY_AREA,WARD,STATUS,ORIGIN,CLOSED_DATE,LATITUDE,LONGITUDE,SR_TYPE,year,month,date,season,GEOID,COMMUNITY_NAME
0,SR20-05649092,SWSNOREM,2020-12-17 13:24:37,5200 S BLACKSTONE AVE,41,4,Completed,Phone Call,2020-12-18 15:12:51,41.800909,-87.590515,Snow – Uncleared Sidewalk Complaint,2020,12,2020-12-17,2020-2021,41,Hyde Park
1,SR21-00001364,SWSNOREM,2021-01-01 11:40:33,66 E CHESTNUT ST,8,42,Completed,Mobile Device,2021-01-04 14:33:44,41.898399,-87.625723,Snow – Uncleared Sidewalk Complaint,2021,1,2021-01-01,2020-2021,8,Near North Side
2,SR21-00000774,SWSNOREM,2021-01-01 09:11:15,2648 N WHIPPLE ST,22,32,Completed,Internet,2021-01-06 13:37:58,41.930233,-87.703706,Snow – Uncleared Sidewalk Complaint,2021,1,2021-01-01,2020-2021,22,Logan Square
3,SR20-05723378,SWSNOREM,2020-12-31 07:19:37,5015 N SPRINGFIELD AVE,14,39,Completed,Mobile Device,2021-01-08 15:30:57,41.972439,-87.725430,Snow – Uncleared Sidewalk Complaint,2020,12,2020-12-31,2020-2021,14,Albany Park
4,SR21-00014080,SWSNOREM,2021-01-04 14:07:09,3757 N BELL AVE,5,47,Completed,Internet,2021-01-06 11:37:30,41.950316,-87.684472,Snow – Uncleared Sidewalk Complaint,2021,1,2021-01-04,2020-2021,5,North Center

In [3]:
df_w15_311 = df_311[df_311['WARD']==15]
len(df_w15_311)

107

### DSS citations

In [4]:
df_citations = pd.read_csv("../../data/05-finalized/dss-citations.csv")
df_citations.head()

,inspector,violation_code,violation_date,docket,disposition,citation_address,citation_ward
0,Donte Winston,10-8-180,2023-02-02,23DS13151M,Liable,"2422 W 64 St, Chicago, IL 60629",16
1,Donte Winston,10-8-180,2023-02-02,23DS13066M,Not Liable,"2435 W 64TH ST, Chicago, IL 60629",16
2,Danny Murphy,10-8-180,2023-02-02,23DS04367M,Default,"7433 N WOLCOTT AVE, Chicago, IL 60626",49
3,Danny Murphy,10-8-180,2023-02-02,23DS13237M,Not Liable,"7418 N PAULINA ST, Chicago, IL 60626",49
4,Manuel Heredia,10-8-180; 7-28-060,2023-02-02,23DS09560M,Default,"2659 S TRUMBULL AVE, Chicago, IL 60623",22

In [5]:
df_w15_citations = df_citations[df_citations['citation_ward']==15]
len(df_w15_citations)

180

In [6]:
### dockets

In [7]:
df_dockets = pd.read_csv("../../data/05-finalized/dockets-summary.csv")
df_dockets.head()

,docket,dept,violation_address,lat,long,community,ward_1523,violation_date,n_records
0,19DS68300L,STRTSAN,4710 S WESTERN AVE,41.807859,-87.68479703503766,BRIGHTON PARK,15,2019-11-13,2
1,19DS69216L,STRTSAN,1425 W MORSE AVE,42.0074513,-87.6668285,ROGERS PARK,49,2019-11-13,1
2,19DS70010L,STRTSAN,715 E 47TH ST,41.8093383,-87.6080127,GRAND BOULEVARD,4,2019-11-13,1
3,19DS72153L,STRTSAN,300 W WASHINGTON ST,41.8818694,-87.7401431,WEST GARFIELD PARK,28,2019-11-12,5
4,19DS72160L,STRTSAN,6929 N SHERIDAN RD,41.9598134,-87.654693,UPTOWN,46,2019-11-14,1

In [8]:
df_w15_dockets = df_dockets[df_dockets['ward_1523']=='15']
len(df_w15_dockets)

171

### compare ward assignments in citations vs. dockets
confirmed, DSS ward assignments match what I have from geocoded dockets for 2015-2019 boundaries

In [9]:
df_citations_to_dockets = pd.merge(df_w15_citations,df_w15_dockets,on='docket')
len(df_citations_to_dockets)

161

In [10]:
df_citations_to_dockets.head()

,inspector,violation_code,violation_date_x,docket,disposition,citation_address,citation_ward,dept,violation_address,lat,long,community,ward_1523,violation_date_y,n_records
0,Donte Winston,10-8-180,2023-01-31,23DS12474M,Liable,"5514 S WOLCOTT AVE, Chicago, IL 60636",15,STRTSAN,5514 S WOLCOTT AVE,41.7930567,-87.67214746474576,WEST ENGLEWOOD,15,2023-01-31,1
1,Donte Winston,10-8-180,2023-01-31,23DS12477M,Default,"5544 S WOLCOTT AVE, Chicago, IL 60636",15,STRTSAN,5544 S WOLCOTT AVE,41.79226,-87.67208402009223,WEST ENGLEWOOD,15,2023-01-31,1
2,Francisco Arroyo,10-8-180,2022-02-14,22DS04410M,Non-Suit,"4335 S HONORE ST, Chicago, IL 60609",15,STRTSAN,4335 S HONORE ST,41.81477635,-87.67093785010493,NEW CITY,15,2022-02-14,2
3,Francisco Arroyo,10-8-180; 7-28-750(b),2022-02-14,22DS04411M,Liable,"4331 S HONORE ST, Chicago, IL 60609",15,STRTSAN,4331 S HONORE ST,41.815217310702685,-87.67110636944085,NEW CITY,15,2022-02-14,8
4,Francisco Arroyo,10-8-180,2022-02-14,22DS04400M,Non-Suit,"4400 S WASHTENAW AVE, Chicago, IL 60632",15,STRTSAN,4400 S WASHTENAW AVE,41.813636849999995,-87.69227153763796,BRIGHTON PARK,15,2022-02-14,1

In [13]:
df_citations_to_dockets['ward_1523'] = df_citations_to_dockets['ward_1523'].astype(int)

In [16]:
df_citations_to_dockets[df_citations_to_dockets['ward_1523']!=df_citations_to_dockets['citation_ward']]

Empty DataFrame
Columns: [inspector, violation_code, violation_date_x, docket, disposition, citation_address, citation_ward, dept, violation_address, lat, long, community, ward_1523, violation_date_y, n_records]
Index: []

# match 311 complaints to dockets

### exact matches
try joining dockets because addresses are cleaner

In [25]:
len(df_w15_311)

107

In [26]:
len(df_w15_citations)

180

In [27]:
len(df_w15_dockets)

171

In [47]:
df_w15_matches = pd.merge(df_w15_dockets,df_w15_311,left_on='violation_address',right_on='STREET_ADDRESS')
len(df_w15_matches)

21

In [48]:
df_w15_matches = df_w15_matches[['violation_address','docket','CREATED_DATE','violation_date','docket','ORIGIN']]. \
sort_values(['violation_address','CREATED_DATE','violation_date'])

In [50]:
#dedup tells us the *maximum* number of matches (but some of these are implausible based on date)
df_w15_matches.drop_duplicates(subset='docket').reset_index()

,index,violation_address,docket,CREATED_DATE,violation_date,docket,ORIGIN
0,1,4201 S ARTESIAN AVE,20DS75969L,2020-01-20 08:39:31,2020-01-22,20DS75969L,Mobile Device
1,20,4400 S WASHTENAW AVE,22DS04400M,2022-02-06 09:57:05,2022-02-14,22DS04400M,Phone Call
2,0,4500 S ROCKWELL ST,20DS75850L,2019-11-12 15:29:11,2020-01-22,20DS75850L,Phone Call
3,12,4532 S WESTERN AVE,22DS03421M,2020-01-22 15:56:58,2022-01-06,22DS03421M,Phone Call
4,15,4600 S WESTERN AVE,22DS03423M,2020-01-01 19:05:36,2022-01-06,22DS03423M,Internet
5,6,4601 S ROCKWELL ST,20DS78298L,2020-01-21 09:15:25,2020-01-22,20DS78298L,Internet
6,11,4601 S ROCKWELL ST,20DT000874,2020-01-21 09:15:25,2020-02-14,20DT000874,Internet
7,19,4601 S ROCKWELL ST,22DS03968M,2020-01-21 09:15:25,2022-01-31,22DS03968M,Internet
8,7,4800 S HONORE ST,20DS78578L,2020-01-23 08:09:03,2020-02-27,20DS78578L,Mobile Device
9,2,5600 S WASHTENAW AVE,20DS77767L,2019-11-12 07:42:11,2020-02-16,20DS77767L,Phone Call

# 43rd Ward

In [38]:
df_w43_311 = df_311[df_311['WARD']==43]
len(df_w43_311)

892

In [36]:
df_w43_citations = df_citations[df_citations['citation_ward']==43]
len(df_w43_citations)

2

In [42]:
df_w43_dockets = df_dockets[df_dockets['ward_1523']=='43']
len(df_w43_dockets)

103

In [43]:
df_w43_matches = pd.merge(df_w43_dockets,df_w43_311,left_on='violation_address',right_on='STREET_ADDRESS')
len(df_w43_matches)

58

In [51]:
df_w43_matches = df_w43_matches[['violation_address','docket','CREATED_DATE','violation_date','docket','ORIGIN']]. \
sort_values(['violation_address','CREATED_DATE','violation_date'])

In [52]:
#dedup tells us the *maximum* number of matches (but some of these are implausible based on date)
df_w43_matches.drop_duplicates(subset='docket').reset_index()

,index,violation_address,docket,CREATED_DATE,violation_date,docket,ORIGIN
0,21,1656 N DAYTON ST,21DT000604,2020-01-21 10:47:22,2021-02-06,21DT000604,Phone Call
1,18,1664 N DAYTON ST,21DT000603,2021-02-01 07:58:58,2021-02-06,21DT000603,Internet
2,14,1670 N BISSELL ST,21DT000522,2021-02-01 07:55:37,2021-02-06,21DT000522,Internet
3,28,1670 N BISSELL ST,21DT001044,2021-02-01 07:55:37,2021-02-25,21DT001044,Internet
4,48,17 E SCOTT ST,22DT001359,2022-01-24 11:02:13,2022-02-08,22DT001359,Internet
5,57,1810 N WELLS ST,23DT000479,2023-02-02 15:36:57,2023-02-03,23DT000479,Phone Call
6,55,1820 N WELLS ST,23DT000478,2023-02-01 10:32:30,2023-02-02,23DT000478,Alderman's Office
7,24,1821 N SEDGWICK ST,21DT000633,2020-01-22 16:36:27,2021-02-06,21DT000633,Internet
8,26,1837 N DAYTON ST,21DT001043,2020-02-27 13:17:46,2021-02-24,21DT001043,Mobile Device
9,22,1841 N SEDGWICK ST,21DT000621,2021-01-30 10:56:06,2021-02-06,21DT000621,Mobile Device
10,38,1858 N SEDGWICK ST,22DT000692,2022-01-10 18:28:01,2022-01-20,22DT000692,Internet
11,50,1858 N SEDGWICK ST,22DT001361,2022-01-10 18:28:01,2022-02-08,22DT001361,Internet
12,33,1919 N DAYTON ST,22DT000624,2020-01-19 12:53:27,2022-01-10,22DT000624,Mobile Device
13,30,1948 N HALSTED ST,21DT001204,2021-02-09 13:23:27,2021-02-24,21DT001204,Internet
14,35,2207 N ORCHARD ST,22DT000625,2022-01-04 08:20:07,2022-01-10,22DT000625,Mobile Device
15,9,2223 N BISSELL ST,21DT000470,2020-01-18 16:02:23,2021-02-02,21DT000470,Mobile Device
16,11,2518 N CLARK ST,21DT000500,2021-01-27 09:00:19,2021-02-02,21DT000500,Internet
17,17,26 E DIVISION ST,21DT000546,2021-02-03 14:47:16,2021-02-05,21DT000546,Alderman's Office
18,43,2621 N HAMPDEN CT,22DT001097,2022-01-31 09:47:02,2022-02-03,22DT001097,Alderman's Office
19,3,2633 N HALSTED ST,21DT000330,2021-01-28 17:09:53,2021-01-29,21DT000330,Internet
20,12,2654 N BURLING ST,21DT000515,2021-02-03 15:56:08,2021-02-05,21DT000515,Mobile Device
21,13,2654 N BURLING ST,21DT000516,2021-02-03 15:56:08,2021-02-05,21DT000516,Mobile Device
22,7,2661 N ORCHARD ST,21DT000467,2020-01-19 08:50:58,2021-02-02,21DT000467,Internet
23,16,2724 N LEHMANN CT,21DT000545,2021-02-02 13:33:09,2021-02-05,21DT000545,Internet
24,10,506 W DEMING PL,21DT000499,2021-02-01 08:44:36,2021-02-02,21DT000499,Internet
25,44,626 W ARLINGTON PL,22DT001100,2020-12-31 11:21:14,2022-02-03,22DT001100,Internet
26,1,935 W WILLOW ST,20DS72942L,2019-11-19 09:55:52,2019-11-15,20DS72942L,Mobile Device