# Graphics for South Side Weekly article, "Fines Don't Shovel Sidewalks"
3/3/24

In [1]:
import pandas as pd

### key findings
* 73% of court dockets were issued by CDOT, 26% by Streets and Sanitation. The remaining 1% were issued by the police or Business Affairs and Consumer Protection
* For dockets issued by CDOT, Garfield Ridge, Grand Boulevard, and Armour Square have the highest per capita rate
* For dockets issued by Streets and Sanitation, Englewood, West Englewood, and Brighton Park have the highest per capita rate
* Only 25 court dockets were issued by police
    * West Englewood, Englewood, and Garfield Ridge have the highest rates and account for half the dockets citywide.
    * 3 of 25 police dockets were churches in Greater Englewood

### table of contents
1. [Read Data Files](#read)
    * [Reconcile Totals](#reconcile)
2. [Summarize Frequent Respondents](#summarize-respondents)
    * [Dollar Stores](#dollar)
    * [ComEd](#comed)
    * [Churches](#churches)
3. [Summarize by Department](#summarize-department)
4. [Summarize by Community](#summarize-community)
    * [Police](#police)
5. [Summarize by Ward](#summarize-ward)
6. [Export for Graphics](#export)

<a name = "read"></a>
# Read Data Files

In [2]:
df_dockets = pd.read_csv("../../data/05-finalized/dockets-to-details-gis.csv")
df_dockets_summary = pd.read_csv("../../data/05-finalized/dockets-summary.csv")
df_wards = pd.read_csv("../../results/ssw02-fines/ward-summary.csv")
df_communities = pd.read_csv("../../results/ssw02-fines/community-summary.csv")

In [3]:
#df_dockets.head()

In [4]:
df_wards.head()

,ward,n_BAFCONP,n_POLICE,n_STRTSAN,n_TRANPORT,n_unknown,n_dockets,n_311_complaints,complaint_ratio_cdot,complaint_ratio_all,ward_label
0,1,0,0,1,61,0,62,1215,19.918033,19.596774,1
1,10,0,0,0,9,0,9,126,14.000000,14.000000,10
2,11,0,0,3,80,0,83,369,4.612500,4.445783,11
3,12,0,0,3,22,0,25,207,9.409091,8.280000,12
4,13,0,1,2,26,0,29,139,5.346154,4.793103,13

In [5]:
df_communities.head()

,community_name,2020_pop,vac_hu,hu_tot,vacant,vacperc,community_caps,community,n_BAFCONP,n_POLICE,...,n_unknown,n_dockets,n_311_complaints,dp10k,streets_p10k,cdot_p10k,police_p10k,n_p10k,311_p10k,complaint_ratio
0,Albany Park,48396,1448.000000,18230.000000,5.322983,0.004331,ALBANY PARK,ALBANY PARK,0,0,...,0.0,15.0,400,0.774857,0.00000,0.774857,0.0,0.0,20.662865,0.037500
1,Archer Heights,14196,406.000000,4538.000000,29.231599,0.022770,ARCHER HEIGHTS,ARCHER HEIGHTS,0,0,...,0.0,14.0,60,2.465483,0.00000,2.465483,0.0,0.0,10.566357,0.233333
2,Armour Square,13890,393.513552,5860.348806,15.696404,0.024625,ARMOUR SQUARE,ARMOUR SQUARE,0,0,...,0.0,26.0,77,4.679626,0.00000,4.679626,0.0,0.0,13.858891,0.337662
3,Ashburn,41098,540.000000,13479.000000,59.468213,0.019123,ASHBURN,ASHBURN,0,0,...,0.0,2.0,108,0.121660,0.00000,0.121660,0.0,0.0,6.569663,0.018519
4,Auburn Gresham,44878,3364.000000,20617.000000,119.122147,0.049388,AUBURN GRESHAM,AUBURN GRESHAM,0,0,...,0.0,19.0,128,1.058425,0.16712,0.891305,0.0,0.0,7.130443,0.125000

<a name = "reconcile"></a>
### reconcile totals
see https://github.com/reliablerascal/snow-clearance/blob/main/notebooks/01-data-preparation/04-standardize-data-with-gis.ipynb<br>
there are 5 more dockets in full dataset than in ward/community summaries<br>
due to 4 "unknown" addresses and one uncertain address (5450 S 47TH)

In [6]:
df_wards['n_dockets'].sum()

1913

In [7]:
df_communities['n_dockets'].sum()

1913.0

In [8]:

df_dockets['docket'].nunique()

1918

<a name = "summarize-respondents"></a>
# Summarize Frequent Respondents

<a name = "dollar"></a>
### Dollar Stores

In [9]:
df_resp_dollar = df_dockets[df_dockets['respondent'].str.contains('dollar',case=False,na=False)]
df_resp_dollar = df_resp_dollar.drop_duplicates(subset=['docket','fine_amt'])
df_resp_dollar.sort_values(['docket','hearing_date'])

,respondent,docket,violation_num,violation_date,hearing_date,violation_address,violation_desc,case_disposition,fine_amt,dept,cleaned_address,latlong,community,ward_1523,lat,long
1838,DOLLAR TREE STORES INC c/o ILLINOIS CORPORATIO...,19DS70010L,270010L,2019-11-13,1/7/2020,715 E 47TH ST,10-8-180 Snow and ice removal.,Default,150.0,STRTSAN,715 E 47TH ST,"41.8093383,-87.6080127",GRAND BOULEVARD,4,41.8093383,-87.6080127
393,DOLLAR TREE STORES,20DT000439,T000193336,2020-01-24,3/30/2020,6460 W FULLERTON,10-8-180 Snow and ice removal.,Continuance,0.0,TRANPORT,6460 W FULLERTON,"41.9240133,-87.78803081662397",BELMONT CRAGIN,36,41.9240133,-87.78803081662397
1836,DOLLAR TREE STORES,20DT000439,T000193336,2020-01-24,3/9/2020,6460 W FULLERTON,10-8-180 Snow and ice removal.,Continuance,150.0,TRANPORT,6460 W FULLERTON,"41.9240133,-87.78803081662397",BELMONT CRAGIN,36,41.9240133,-87.78803081662397
2970,FAMILY DOLLAR INC C/O ILLINOIS CORPORATION SER...,20DT001521,T000196492,2020-02-14,12/15/2020,6190 S ARCHER,10-8-180 Snow and ice removal.,Default,500.0,TRANPORT,6190 S ARCHER,"41.79424425,-87.77385787280147",GARFIELD RIDGE,23,41.79424425,-87.77385787280147
424,FAMILY DOLLAR INC C/O ILLINOIS CORPORATION SER...,20DT001521,T000196492,2020-02-14,4/27/2020,6190 S ARCHER,10-8-180 Snow and ice removal.,Continuance,0.0,TRANPORT,6190 S ARCHER,"41.79424425,-87.77385787280147",GARFIELD RIDGE,23,41.79424425,-87.77385787280147
2971,FAMILY DOLLAR INC C/O ILLINOIS CORPORATION SER...,20DT001522,T000196493,2020-02-14,12/15/2020,5381 S MEADE,10-8-180 Snow and ice removal.,Default,500.0,TRANPORT,5381 S MEADE,"41.7947927067223,-87.77446034672964",GARFIELD RIDGE,23,41.7947927067223,-87.77446034672964
428,FAMILY DOLLAR INC C/O ILLINOIS CORPORATION SER...,20DT001522,T000196493,2020-02-14,4/27/2020,5381 S MEADE,10-8-180 Snow and ice removal.,Continuance,0.0,TRANPORT,5381 S MEADE,"41.7947927067223,-87.77446034672964",GARFIELD RIDGE,23,41.7947927067223,-87.77446034672964
1837,DOLLAR TREE STORES C/O ILLINOIS CORPORATION SE...,21DT000231,T000203747,2021-01-27,3/15/2021,6560 W FULLERTON,10-8-180 Snow and ice removal.,Continuance,150.0,TRANPORT,6560 W FULLERTON,"41.92559249999999,-87.78994902497115",BELMONT CRAGIN,36,41.92559249999999,-87.78994902497115
2949,DOLLAR TREE STORES C/O ILLINOIS CORPORATION SE...,21DT000231,T000203747,2021-01-27,5/3/2021,6560 W FULLERTON,10-8-180 Snow and ice removal.,Default,500.0,TRANPORT,6560 W FULLERTON,"41.92559249999999,-87.78994902497115",BELMONT CRAGIN,36,41.92559249999999,-87.78994902497115
1833,DOLLAR TREE #06214,21DT000855,T000203210,2021-02-19,4/12/2021,1946 N TRIPP,10-8-180 Snow and ice removal.,Continuance,150.0,TRANPORT,1946 N TRIPP,"41.915904317384566,-87.73273337385123",HERMOSA,35,41.915904317384566,-87.73273337385123
1835,DOLLAR TREE #645 C/O ILLINOIS CORPORATION SERV...,21DT000856,T000203232,2021-02-19,4/12/2021,6560 W FULLERTON,10-8-180 Snow and ice removal.,Continuance,150.0,TRANPORT,6560 W FULLERTON,"41.92559249999999,-87.78994902497115",BELMONT CRAGIN,36,41.92559249999999,-87.78994902497115
2948,DOLLAR TREE #645 C/O ILLINOIS CORPORATION SERV...,21DT000856,T000203232,2021-02-19,5/10/2021,6560 W FULLERTON,10-8-180 Snow and ice removal.,Default,500.0,TRANPORT,6560 W FULLERTON,"41.92559249999999,-87.78994902497115",BELMONT CRAGIN,36,41.92559249999999,-87.78994902497115
2972,"FAMILY DOLLAR INC, C/O ILLINOIS CORPORATION SE...",21DT002971,T000213616,2021-02-22,8/30/2021,2400 W 51ST ST,10-8-180 Snow and ice removal.,Default,500.0,TRANPORT,2400 W 51ST ST,"41.801223,-87.685071",GAGE PARK,14,41.801223,-87.685071
2973,"FAMILY DOLLAR INC, C/O ILLINOIS CORPORATION SE...",21DT002972,T000213617,2021-02-22,8/30/2021,2418 W 51ST ST,10-8-180 Snow and ice removal.,Default,500.0,TRANPORT,2418 W 51ST ST,"41.801220004421644,-87.68522077891778",GAGE PARK,14,41.801220004421644,-87.68522077891778
2974,"FAMILY DOLLAR INC, C/O ILLINOIS CORPORATION SE...",22DT000899,T000207406,2021-02-17,3/28/2022,5525 W DIVISION,10-8-180 Snow and ice removal.,Default,500.0,TRANPORT,5525 W DIVISION,"41.901926,-87.7648519",AUSTIN,37,41.901926,-87.7648519

<a name = "comed"></a>
### ComEd

In [10]:
df_resp_comed = df_dockets[df_dockets['respondent'].str.contains('commonwealth',case=False,na=False)]
df_resp_comed = df_resp_comed.drop_duplicates(subset=['docket','fine_amt'])
df_resp_comed.sort_values(['docket','hearing_date'])

,respondent,docket,violation_num,violation_date,hearing_date,violation_address,violation_desc,case_disposition,fine_amt,dept,cleaned_address,latlong,community,ward_1523,lat,long
334,"COMMONWEALTH EDISON, C/O EXELON CORP",21DT000998,T000203267,2021-02-19,5/3/2021,1042 N WESTERN,10-8-180 Snow and ice removal.,Continuance,0.0,TRANPORT,1042 N WESTERN,"41.899786869266585,-87.68705622593625",WEST TOWN,26,41.899786869266585,-87.68705622593625
1386,"COMMONWEALTH EDISON, C/O EXELON CORP",21DT000998,T000203267,2021-02-19,8/23/2021,1042 N WESTERN,10-8-180 Snow and ice removal.,Liable,110.0,TRANPORT,1042 N WESTERN,"41.899786869266585,-87.68705622593625",WEST TOWN,26,41.899786869266585,-87.68705622593625
337,"COMMONWEALTH EDISON, C/O EXELON CORP",21DT001331,T000203345,2021-02-05,5/10/2021,3400 S PULASKI RD,10-8-180 Snow and ice removal.,Continuance,0.0,TRANPORT,3400 S PULASKI RD,"41.8308371,-87.72493031638692",SOUTH LAWNDALE,22,41.8308371,-87.72493031638692
2919,"COMMONWEALTH EDISON, C/O EXELON CORP",21DT001331,T000203345,2021-02-05,9/13/2021,3400 S PULASKI RD,10-8-180 Snow and ice removal.,Liable,500.0,TRANPORT,3400 S PULASKI RD,"41.8308371,-87.72493031638692",SOUTH LAWNDALE,22,41.8308371,-87.72493031638692
1793,"COMMONWEALTH EDISON, C/O EXELON CORP",21DT001583,T000203456,2021-02-23,6/7/2021,2701 N CLYBOURN,10-8-180 Snow and ice removal.,Continuance,150.0,TRANPORT,2701 N CLYBOURN,"41.93026,-87.675651",LINCOLN PARK,32,41.93026,-87.675651
340,"COMMONWEALTH EDISON, C/O EXELON CORP",21DT001583,T000203456,2021-02-23,7/12/2021,2701 N CLYBOURN,10-8-180 Snow and ice removal.,Continuance,0.0,TRANPORT,2701 N CLYBOURN,"41.93026,-87.675651",LINCOLN PARK,32,41.93026,-87.675651
1387,"COMMONWEALTH EDISON, C/O EXELON CORP",21DT001583,T000203456,2021-02-23,8/2/2021,2701 N CLYBOURN,10-8-180 Snow and ice removal.,Liable,110.0,TRANPORT,2701 N CLYBOURN,"41.93026,-87.675651",LINCOLN PARK,32,41.93026,-87.675651
1154,"COMMONWEALTH EDISON, C/O EXELON CORP",22DT000842,T000212900,2022-01-25,2/6/2023,2350 N NARRAGANSETT,10-8-180 Snow and ice removal.,Liable,50.0,TRANPORT,2350 N NARRAGANSETT,"41.92326145,-87.78574740271412",BELMONT CRAGIN,36,41.92326145,-87.78574740271412
341,"COMMONWEALTH EDISON, C/O EXELON CORP",22DT000842,T000212900,2022-01-25,3/21/2022,2350 N NARRAGANSETT,10-8-180 Snow and ice removal.,Continuance,0.0,TRANPORT,2350 N NARRAGANSETT,"41.92326145,-87.78574740271412",BELMONT CRAGIN,36,41.92326145,-87.78574740271412
346,"COMMONWEALTH EDISON, C/O EXELON CORP",22DT000843,T000212898,2022-01-25,3/21/2022,6600 W GRAND,10-8-180 Snow and ice removal.,Continuance,0.0,TRANPORT,6600 W GRAND AVE,"41.9235813,-87.7976895",MONTCLARE,36,41.9235813,-87.7976895
352,"COMMONWEALTH EDISON, C/O EXELON CORP",22DT001119,T000212473,2022-02-01,4/4/2022,2401 W HADDON,10-8-180 Snow and ice removal.,Continuance,0.0,TRANPORT,2401 W HADDON,"41.901999,-87.687613",WEST TOWN,1,41.901999,-87.687613

<a name = "churches"></a>
### Churches
note that 3 of 15 citations for churches citywide were issued by police to churches in Englewood

In [11]:
df_resp_church = df_dockets[df_dockets['respondent'].str.contains('church',case=False,na=False) &
                           df_dockets['community'].str.contains('Englewood',case=False,na=False) &
                           df_dockets['dept'].str.contains('POLICE',case=False,na=False)]
df_resp_church.sort_values(['docket','hearing_date'])

,respondent,docket,violation_num,violation_date,hearing_date,violation_address,violation_desc,case_disposition,fine_amt,dept,cleaned_address,latlong,community,ward_1523,lat,long
267,CAPERNAUM CHURCH,21CP002214,P005839172,2021-02-05,3/5/2021,6459 S HONORE ST,10-8-180 Snow and ice removal.,Continuance,0.0,POLICE,6459 S HONORE ST,"41.77588755,-87.66998907519412",WEST ENGLEWOOD,15,41.77588755,-87.66998907519412
268,CAPERNAUM CHURCH,21CP002214,P005839172,2021-02-05,5/7/2021,6459 S HONORE ST,10-8-180 Snow and ice removal.,Continuance,0.0,POLICE,6459 S HONORE ST,"41.77588755,-87.66998907519412",WEST ENGLEWOOD,15,41.77588755,-87.66998907519412
1147,CAPERNAUM CHURCH,21CP002214,P005839172,2021-02-05,7/9/2021,6459 S HONORE ST,10-8-180 Snow and ice removal.,Liable,50.0,POLICE,6459 S HONORE ST,"41.77588755,-87.66998907519412",WEST ENGLEWOOD,15,41.77588755,-87.66998907519412
764,NEW MT CALVARY M B CHURCH,21CP002398,P005839173,2021-02-12,4/12/2021,1850 W MARQUETTE ST,10-8-180 Snow and ice removal.,Continuance,0.0,POLICE,1850 W MARQUETTE RD,"41.77219794825491,-87.6703401745092",WEST ENGLEWOOD,15,41.77219794825491,-87.6703401745092
1239,NEW MT CALVARY M B CHURCH,21CP002398,P005839173,2021-02-12,6/14/2021,1850 W MARQUETTE ST,10-8-180 Snow and ice removal.,Liable,50.0,POLICE,1850 W MARQUETTE RD,"41.77219794825491,-87.6703401745092",WEST ENGLEWOOD,15,41.77219794825491,-87.6703401745092
514,GREEN GROVE MISSIONARY BAPTIST CHURCH,22CP001604,P005810871,2022-01-29,2/28/2022,1049 W MARQUETTE RD,10-8-180 Snow and ice removal.,Non-Suit,0.0,POLICE,1049 W MARQUETTE RD,"41.772214000000005,-87.65139034923386",ENGLEWOOD,16,41.772214000000005,-87.65139034923386

<a name = "summarize-department"></a>
# Summarize by Department

In [12]:
df_by_dept = df_dockets_summary['dept'].value_counts().reset_index()
df_by_dept = df_by_dept[df_by_dept['dept']!='unknown']
#total = df_by_dept['count'].sum()
df_by_dept['pct']= df_by_dept['count']/df_by_dept['count'].sum()
df_by_dept['label']= df_by_dept['count'].astype(str) + ' (' + (df_by_dept['pct'] * 100).round(2).astype(str) + '%)'

In [13]:
df_by_dept

       dept  count       pct          label
0  TRANPORT   1393  0.726656  1393 (72.67%)
1   STRTSAN    497  0.259259   497 (25.93%)
2    POLICE     25  0.013041      25 (1.3%)
3   BAFCONP      2  0.001043       2 (0.1%)

<a name = "summarize-community"></a>
# Summarize by Community

In [14]:
# df_vacants...

<a name = "police"></a>
### police

In [15]:
df_police = df_communities[df_communities['n_POLICE']>0]
df_police['community_name'] = df_police['community_name'].replace(['Chicago Lawn',
                                                                     'Clearing',
                                                                     'Greater Grand Crossing',
                                                                     'Morgan Park',
                                                                     'West Pullman'], 'Other')
df_police = df_police.groupby('community_name', as_index=False)['n_POLICE'].sum()
df_police = df_police[['community_name','n_POLICE']].sort_values(by='n_POLICE',ascending=False)
df_police

/tmp/ipykernel_10934/2891167286.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_police['community_name'] = df_police['community_name'].replace(['Chicago Lawn',

   community_name  n_POLICE
4  West Englewood         6
0  Belmont Cragin         5
3           Other         5
1       Englewood         4
2  Garfield Ridge         3
5        Woodlawn         2

<a name = "summarize-ward"></a>
# Summarize by Ward

### most dockets

In [16]:
df_dockets_by_ward_top5 = df_wards.sort_values('n_dockets', ascending=False).reset_index().head()
df_dockets_by_ward_top5['rank'] =  df_dockets_by_ward_top5.index + 1
df_dockets_by_ward_top5 = df_dockets_by_ward_top5[['rank','ward','n_dockets','n_TRANPORT','n_STRTSAN','n_POLICE']]
df_dockets_by_ward_top5

   rank  ward  n_dockets  n_TRANPORT  n_STRTSAN  n_POLICE
0     1    15        171           7        161         3
1     2    43        103         101          2         0
2     3    16        102           8         88         6
3     4    27         98          98          0         0
4     5     4         96          75         21         0

### not sure i need this

In [17]:
df_streets_by_ward_top5 = df_wards.sort_values('n_STRTSAN', ascending=False).head()
df_streets_by_ward_top5 = df_streets_by_ward_top5[['ward','n_POLICE','n_STRTSAN','n_TRANPORT','n_dockets']]
df_streets_by_ward_top5

    ward  n_POLICE  n_STRTSAN  n_TRANPORT  n_dockets
6     15         3        161           7        171
7     16         6         88           8        102
46     6         1         53           7         61
43    49         0         29           5         34
34    40         0         27          35         62

### citation to complaint ratio

In [31]:
df_citation_ratio_by_ward_top5 = df_wards.sort_values('complaint_ratio_cdot', ascending=True).head().reset_index()
df_citation_ratio_by_ward_top5 = df_citation_ratio_by_ward_top5 [['ward','n_TRANPORT','n_311_complaints','complaint_ratio_cdot']]
df_citation_ratio_by_ward_top5['rank']=df_citation_ratio_by_ward_top5.index+1
df_citation_ratio_by_ward_top5

   ward  n_TRANPORT  n_311_complaints  complaint_ratio_cdot  rank
0    23          85               239              2.811765     1
1     3          91               386              4.241758     2
2    37          27               122              4.518519     3
3    11          80               369              4.612500     4
4    13          26               139              5.346154     5

In [32]:
# citywide citation ratio
df_wards['n_TRANPORT'].sum()/df_wards['n_311_complaints'].sum()

0.06584752597371792

<a name = "export"></a>
# Export for Graphics

In [33]:
df_by_dept.to_csv("../../results/ssw02-fines/dockets-by-dept.csv", index=False)
df_police.to_csv("../../results/ssw02-fines/police-by-community.csv", index=False)
df_citation_ratio_by_ward_top5.to_csv("../../results/ssw02-fines/citation_ratio_top5.csv", index=False)
df_dockets_by_ward_top5.to_csv("../../results/ssw02-fines/dockets-by-ward-top5.csv", index=False)
df_streets_by_ward_top5.to_csv("../../results/ssw02-fines/streets-by-ward-top5.csv", index=False)

In [18]:
#df_vacants.to_csv("../../results/ssw02-fines/vacants-by-community.csv")