# Count 311 Complaints in 2024
22 March 2024

This analysis looks at 311 complaints filed as "Snow – Uncleared Sidewalk Complaint," or SWSNOREM, as evidence that unshoveled sidewalks remain a problem.

# Get Data
look only at uncleared sidewalk complaints on or after 1/1/24

In [1]:
import pandas as pd
import requests
from datetime import datetime

In [2]:
base_url = "https://data.cityofchicago.org/resource/v6vf-nfxy.json"
select = "SR_NUMBER, SR_SHORT_CODE, CREATED_DATE, STREET_ADDRESS, COMMUNITY_AREA, WARD, STATUS, ORIGIN, CLOSED_DATE, LATITUDE, LONGITUDE, SR_TYPE"
where = "SR_SHORT_CODE == 'SWSNOREM' AND CREATED_DATE >= '2024-01-01'"
limit = 99999

url = f"{base_url}?$SELECT={select}&$WHERE={where}&$LIMIT={limit}"
print (url)

https://data.cityofchicago.org/resource/v6vf-nfxy.json?$SELECT=SR_NUMBER, SR_SHORT_CODE, CREATED_DATE, STREET_ADDRESS, COMMUNITY_AREA, WARD, STATUS, ORIGIN, CLOSED_DATE, LATITUDE, LONGITUDE, SR_TYPE&$WHERE=SR_SHORT_CODE == 'SWSNOREM' AND CREATED_DATE >= '2024-01-01'&$LIMIT=99999

In [3]:
response = requests.get(url)
data = response.json()
print (response)

<Response [200]>

In [4]:
df=pd.DataFrame(data)
df.head()

,SR_NUMBER,SR_SHORT_CODE,CREATED_DATE,STREET_ADDRESS,COMMUNITY_AREA,WARD,STATUS,ORIGIN,CLOSED_DATE,LATITUDE,LONGITUDE,SR_TYPE
0,SR24-00341952,SWSNOREM,2024-02-24T08:41:11.000,3200 N CAMPBELL AVE,5,47,Completed,Phone Call,2024-02-27T11:29:43.000,41.939447056,-87.690604166,Snow – Uncleared Sidewalk Complaint
1,SR24-00342449,SWSNOREM,2024-02-24T11:01:20.000,4763 N WESTERN AVE,4,47,Completed,Mobile Device,2024-02-27T11:30:36.000,41.968449001,-87.68862,Snow – Uncleared Sidewalk Complaint
2,SR24-00342736,SWSNOREM,2024-02-24T12:30:11.000,4131 W BELMONT AVE,21,31,Completed,Mobile Device,2024-02-27T15:49:18.000,41.938785001,-87.730614,Snow – Uncleared Sidewalk Complaint
3,SR24-00342905,SWSNOREM,2024-02-24T13:22:09.000,1751 W AINSLIE ST,3,47,Completed,Mobile Device,2024-02-27T11:31:46.000,41.971689001,-87.6729735,Snow – Uncleared Sidewalk Complaint
4,SR24-00345185,SWSNOREM,2024-02-25T04:41:16.000,1833 E 71ST ST,43,7,Completed,Phone Call,2024-02-27T08:20:19.000,41.765859001,-87.5799495,Snow – Uncleared Sidewalk Complaint

# Review Data

### total complaints

In [5]:
len(df)

1227

### by ward

In [6]:
df.groupby('WARD').size().reset_index(name='n_complaints').sort_values(by='n_complaints', ascending = False).reset_index(drop=True)

   WARD  n_complaints
0    47            76
1    27            68
2    46            63
3     1            52
4    35            46
5    26            43
6    32            43
7    30            41
8    43            41
9    36            36
10   23            36
11   24            35
12   41            34
13   49            34
14    6            33
15   48            32
16   44            31
17   45            31
18   38            29
19   40            29
20   33            27
21    3            26
22   25            25
23   11            22
24    4            20
25   39            19
26   34            18
27   31            18
28   42            16
29   14            15
30   20            15
31   28            14
32    2            14
33    8            13
34   15            13
35   19            13
36   12            12
37    7            12
38   17            12
39   29            11
40    5            11
41   22             9
42   10             8
43   18             7
44   21             6
45   13             5
46   37             4
47   50             4
48   16             2
49    9             1