# Matching Sidewalk Snow Clearance Fines to Related Recordsets
2/14/24 RR

This notebook attempts to join court dockets for snow clearance fines, to three other recordsets:
1) 311 complaints for uncleared sidewalks
2) bank-owned vacant property violations
3) vacant property complaints

### overview of datasets
<div style="color:red">describe each data set here</div>

### next steps
<div style="color:red">
    roll up 311 complaints (snow and building violations) by address
    </div>

# 1. Read and Review all Datasets

In [58]:
import pandas as pd

In [59]:
df_addresses = pd.read_csv("../results/fines_by_address.csv")
df_dockets = pd.read_csv("../results/fines_by_docket.csv")
df_311_snow = pd.read_csv("../data/311-complaints-snow.csv")
df_311_vacant = pd.read_csv("../data/311-complaints-vacant.csv")
df_vacant_violations = pd.read_csv("../data/vacant-violations.csv")

/tmp/ipykernel_1135/4003885454.py:4: DtypeWarning: Columns (20,30) have mixed types. Specify dtype option on import or set low_memory=False.
  df_311_vacant = pd.read_csv("../data/311-complaints-vacant.csv")

### fines by address

In [60]:
df_addresses.head()

,Unnamed: 0,address,lat,long,community,count_BAFCONP,count_POLICE,count_STRTSAN,count_TRANPORT,sum_BAFCONP,sum_POLICE,sum_STRTSAN,sum_TRANPORT,n_dockets,total_fines,dept
0,0,10 N KILBOURN AVE,41.880962,-87.738356,WEST GARFIELD PARK,0,0,1,0,0.0,0.0,150.0,0.0,1,150.0,streets
1,1,100 E CHESTNUT ST,41.898588,-87.625892,NEAR NORTH SIDE,0,0,0,1,0.0,0.0,0.0,550.0,1,550.0,cdot
2,2,100 N KEDZIE,41.946722,-87.707835,IRVING PARK,0,0,0,1,0.0,0.0,0.0,0.0,1,0.0,cdot
3,3,100 N KEDZIE AVE,41.883159,-87.706529,EAST GARFIELD PARK,0,0,3,0,0.0,0.0,150.0,0.0,3,150.0,streets
4,4,100 W GRAND,41.765581,-87.621695,GREATER GRAND CROSSING,0,0,0,1,0.0,0.0,0.0,500.0,1,500.0,cdot

In [61]:
len(df_addresses)

1735

### fines by court docket

In [62]:
df_dockets.head()

,Unnamed: 0,docket,dept,address,lat,long,community,violation_date,n_records,total_fine
0,0,19DS68300L,STRTSAN,4710 S WESTERN AVE,41.807859,-87.684797,BRIGHTON PARK,2019/11/13,1,150.0
1,1,19DS69216L,STRTSAN,1425 W MORSE AVE,42.007451,-87.666828,ROGERS PARK,2019/11/13,1,50.0
2,2,19DS70010L,STRTSAN,715 E 47TH ST,41.809338,-87.608013,GRAND BOULEVARD,2019/11/13,1,150.0
3,3,19DS72153L,STRTSAN,300 W WASHINGTON ST,41.882868,-88.210529,LOOP,2019/11/12,3,650.0
4,4,19DS72160L,STRTSAN,6929 N SHERIDAN RD,41.959813,-87.654693,UPTOWN,2019/11/14,1,500.0

In [32]:
len(df_dockets)

1912

In [64]:
df_dockets.groupby("community").size()

community
ALBANY PARK       15
ARCHER HEIGHTS    12
ARMOUR SQUARE     26
ASHBURN            2
AUBURN GRESHAM    19
                  ..
WEST LAWN         17
WEST PULLMAN       5
WEST RIDGE        24
WEST TOWN         97
WOODLAWN           4
Length: 71, dtype: int64

### 311 uncleared sidewalk complaints

In [28]:
df_311_snow.head()

,SR_NUMBER,SR_SHORT_CODE,CREATED_DATE,STREET_ADDRESS,COMMUNITY_AREA,WARD,STATUS,ORIGIN,CLOSED_DATE,LATITUDE,LONGITUDE,SR_TYPE,year,month,date,season,GEOID,COMMUNITY_NAME
0,SR21-00149474,SDO,2021-01-27 13:13:50,1700 W 15TH ST,28,28,Completed,Mobile Device,2021-01-27 19:50:47,41.861457,-87.668881,Ice and Snow Removal Request,2021,1,2021-01-27,2020-2021,28,Near West Side
1,SR21-00177207,SDO,2021-02-01 10:19:34,1300 S HEATH AVE,28,28,Completed,Mobile Device,2021-02-01 15:12:41,41.864744,-87.684402,Ice and Snow Removal Request,2021,2,2021-02-01,2020-2021,28,Near West Side
2,SR21-00269268,SDO,2021-02-17 12:43:47,819 S BISHOP ST,28,28,Completed,Mobile Device,2021-02-19 00:58:56,41.871081,-87.662624,Ice and Snow Removal Request,2021,2,2021-02-17,2020-2021,28,Near West Side
3,SR21-00149811,SDO,2021-01-27 13:50:04,1300 S WOLCOTT AVE,28,28,Completed,Mobile Device,2021-01-27 19:10:36,41.864893,-87.673790,Ice and Snow Removal Request,2021,1,2021-01-27,2020-2021,28,Near West Side
4,SR21-00188251,SDO,2021-02-02 15:47:03,1200 W LEXINGTON ST,28,28,Completed,Mobile Device,2021-02-02 21:53:42,41.872287,-87.656946,Ice and Snow Removal Request,2021,2,2021-02-02,2020-2021,28,Near West Side

### 311 vacant property complaints

In [19]:
df_311_vacant.head()

,SR_NUMBER,SR_TYPE,SR_SHORT_CODE,CREATED_DEPARTMENT,OWNER_DEPARTMENT,STATUS,ORIGIN,CREATED_DATE,LAST_MODIFIED_DATE,CLOSED_DATE,...,Y_COORDINATE,LATITUDE,LONGITUDE,LOCATION,Boundaries - ZIP Codes,Community Areas,Zip Codes,Census Tracts,Wards,Boundaries - Wards (2023-)
0,SR24-00281470,Vacant/Abandoned Building Complaint,BBK,Alderman,DOB - Buildings,Open,Alderman's Office,02/14/2024 03:06:53 PM,02/14/2024 03:06:57 PM,NaN,...,1.923340e+06,41.946093,-87.833084,"(41.946093000940635, -87.83308350000193)",52.0,17.0,22254.0,445.0,19.0,38.0
1,SR24-00281118,Clean Vacant Lot Request,SCT,NaN,Streets and Sanitation,Open,Internet,02/14/2024 02:37:49 PM,02/14/2024 03:00:32 PM,NaN,...,1.900875e+06,41.883990,-87.737984,"(41.88398957298473, -87.73798373959555)",30.0,27.0,21572.0,732.0,23.0,28.0
2,SR24-00281087,Clean Vacant Lot Request,SCT,NaN,Streets and Sanitation,Open,Internet,02/14/2024 02:34:45 PM,02/14/2024 03:00:32 PM,NaN,...,1.900875e+06,41.883990,-87.737984,"(41.88398957298473, -87.73798373959555)",30.0,27.0,21572.0,732.0,23.0,28.0
3,SR24-00281058,Clean Vacant Lot Request,SCT,NaN,Streets and Sanitation,Open,Mobile Device,02/14/2024 02:31:25 PM,02/14/2024 02:31:27 PM,NaN,...,1.868779e+06,41.795712,-87.701359,"(41.79571200094013, -87.70135950000191)",56.0,61.0,22248.0,777.0,8.0,14.0
4,SR24-00280702,Vacant/Abandoned Building Complaint,BBK,Alderman,DOB - Buildings,Open,Alderman's Office,02/14/2024 01:58:26 PM,02/14/2024 01:58:29 PM,NaN,...,1.852913e+06,41.751891,-87.652319,"(41.751891000939985, -87.6523185000019)",59.0,70.0,21554.0,487.0,31.0,17.0

In [38]:
#df_311_vacant.dtypes

### vacant bank-owned buildings

In [12]:
df_vacant_violations.head()

,Docket Number,Violation Number,Issued Date,Issuing Department,Last Hearing Date,Property Address,Violation Type,Entity or Person(s),Disposition Description,Total Fines,...,Total Paid,Current Amount Due,Latitude,Longitude,Location,Boundaries - ZIP Codes,Community Areas,Zip Codes,Census Tracts,Wards
0,11CP015666,P002161520|P002161521,03/07/2011,POLICE,08/05/2011 11:00:00 AM,9332 S LASALLE,13-12-125 Duty to secure and maintain vacant ...,"JP MORGAN CHASE,",City Non suit - Motion to set-aside default - ...,0.0,...,0.0,0.0,41.724332,-87.627669,POINT (-87.62766855145455 41.72433163710899),59.0,45.0,21554.0,187.0,13.0
1,11CP020396,P002513827,05/04/2011,POLICE,07/01/2011 02:30:00 PM,2107 N SAWYER,13-12-140 Watchman required,"DEUTSCHE BANK,",Liable - By plea,100.0,...,280.0,-140.0,41.919469,-87.708844,POINT (-87.70884424604687 41.919468897981616),1.0,23.0,22535.0,321.0,49.0
2,11CP024049,P002165386|P002165387,05/03/2011,POLICE,07/01/2011 02:00:00 PM,12863 S NORMAL,13-12-125 Duty to secure and maintain vacant ...,"WELLS FARGO BANK NA,",City non-suit,0.0,...,0.0,0.0,41.659662,-87.633937,POINT (-87.63393730049602 41.65966224784699),19.0,50.0,21861.0,7.0,43.0
3,11CP026554,P002109256,05/27/2011,POLICE,07/01/2011 09:00:00 AM,5700 S ABERDEEN,13-12-140 Watchman required,"OCWEN LOAN SERVICING LLC,",Not liable - City failed to meet burden of proof,800.0,...,1125.0,0.0,41.790474,-87.652497,POINT (-87.65249718861547 41.79047358708863),11.0,66.0,21559.0,409.0,2.0
4,11CP054441,P003018262|P003018263|P003018264,08/25/2011,POLICE,10/07/2011 09:00:00 AM,5035 S RACINE,13-12-140 Watchman required|13-12-140 Watchm...,"WELLS FARGO,",City non-suit,0.0,...,0.0,0.0,41.802223,-87.654932,POINT (-87.65493156629385 41.80222309496589),37.0,59.0,14924.0,708.0,4.0

In [55]:
len(df_vacant_violations)

4998

In [56]:
# not sure why I needed this, but I did!
df_vacant_violations['Property Address'] = df_vacant_violations['Property Address'].str.strip()

In [57]:
# test
df_vacant_violations[df_vacant_violations["Property Address"]=='2107 N SAWYER']

,Docket Number,Violation Number,Issued Date,Issuing Department,Last Hearing Date,Property Address,Violation Type,Entity or Person(s),Disposition Description,Total Fines,...,Total Paid,Current Amount Due,Latitude,Longitude,Location,Boundaries - ZIP Codes,Community Areas,Zip Codes,Census Tracts,Wards
1,11CP020396,P002513827,05/04/2011,POLICE,07/01/2011 02:30:00 PM,2107 N SAWYER,13-12-140 Watchman required,"DEUTSCHE BANK,",Liable - By plea,100.0,...,280.0,-140.0,41.919469,-87.708844,POINT (-87.70884424604687 41.919468897981616),1.0,23.0,22535.0,321.0,49.0
1492,11CP020396,P002513826|P002513840|P002513841,05/04/2011,POLICE,07/01/2011 02:30:00 PM,2107 N SAWYER,13-12-125 Duty to secure and maintain vacant ...,"DEUTSCHE BANK,",City non-suit,100.0,...,280.0,-140.0,41.919469,-87.708844,POINT (-87.70884424604687 41.919468897981616),1.0,23.0,22535.0,321.0,49.0

# 2. Match Dockets to 311 complaints about snow
<div style="color:red">
    should vet specific complaint type
and de-dup 311 complaints</div>

In [24]:
df_match_311snow = pd.merge(df_dockets,df_311_snow,left_on="address",right_on="STREET_ADDRESS")
df_match_311snow

,Unnamed: 0,docket,dept,address,lat,long,community,violation_date,n_records,total_fine,...,CLOSED_DATE,LATITUDE,LONGITUDE,SR_TYPE,year,month,date,season,GEOID,COMMUNITY_NAME
0,0,19DS68300L,STRTSAN,4710 S WESTERN AVE,41.807859,-87.684797,BRIGHTON PARK,2019/11/13,1,150.0,...,2021-02-02 12:52:24,41.807970,-87.684803,Ice and Snow Removal Request,2021,2,2021-02-02,2020-2021,58,Brighton Park
1,1171,22DS03417M,STRTSAN,4710 S WESTERN AVE,41.807859,-87.684797,BRIGHTON PARK,2022/01/06,2,1100.0,...,2021-02-02 12:52:24,41.807970,-87.684803,Ice and Snow Removal Request,2021,2,2021-02-02,2020-2021,58,Brighton Park
2,1290,22DS04258M,STRTSAN,4710 S WESTERN AVE,41.807859,-87.684797,BRIGHTON PARK,2022/02/07,1,0.0,...,2021-02-02 12:52:24,41.807970,-87.684803,Ice and Snow Removal Request,2021,2,2021-02-02,2020-2021,58,Brighton Park
3,1315,22DS04355M,STRTSAN,4710 S WESTERN AVE,41.807859,-87.684797,BRIGHTON PARK,2022/02/08,2,150.0,...,2021-02-02 12:52:24,41.807970,-87.684803,Ice and Snow Removal Request,2021,2,2021-02-02,2020-2021,58,Brighton Park
4,20,19DS72474L,STRTSAN,1335 W MORSE AVE,42.007732,-87.665423,ROGERS PARK,2019/11/14,1,150.0,...,2019-11-21 09:19:59,42.007740,-87.665428,Snow – Uncleared Sidewalk Complaint,2019,11,2019-11-13,2019-2020,1,Rogers Park
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1058,1885,23DT000535,TRANPORT,2333 W MOFFAT ST,41.914555,-87.686106,LOGAN SQUARE,2023/02/06,1,50.0,...,2023-02-06 10:04:52,41.914566,-87.686114,Snow – Uncleared Sidewalk Complaint,2023,2,2023-02-04,2022-2023,22,Logan Square
1059,1885,23DT000535,TRANPORT,2333 W MOFFAT ST,41.914555,-87.686106,LOGAN SQUARE,2023/02/06,1,50.0,...,2020-02-24 12:57:03,41.914563,-87.686111,Snow – Uncleared Sidewalk Complaint,2020,2,2020-02-15,2019-2020,22,Logan Square
1060,1885,23DT000535,TRANPORT,2333 W MOFFAT ST,41.914555,-87.686106,LOGAN SQUARE,2023/02/06,1,50.0,...,2020-03-03 08:53:53,41.914563,-87.686111,Snow – Uncleared Sidewalk Complaint,2020,2,2020-02-27,2019-2020,22,Logan Square
1061,1909,23DT000669,TRANPORT,4122 W 63RD ST,41.778808,-87.726242,WEST LAWN,2023/02/01,1,500.0,...,2023-02-01 12:36:55,41.778819,-87.726249,Snow – Uncleared Sidewalk Complaint,2023,2,2023-02-01,2022-2023,65,West Lawn
1062,1909,23DT000669,TRANPORT,4122 W 63RD ST,41.778808,-87.726242,WEST LAWN,2023/02/01,1,500.0,...,2023-02-09 09:24:35,41.778819,-87.726249,Snow - Object/Dibs Removal Request,2023,2,2023-02-06,2022-2023,65,West Lawn

In [31]:
df_match_311snow['docket'].nunique()

401

# 3. Match Dockets to 311 complaints about vacants

In [29]:
df_match_311vac = pd.merge(df_dockets,df_311_vacant,left_on="address",right_on="STREET_ADDRESS")
df_match_311vac

,Unnamed: 0,docket,dept,address,lat,long,community,violation_date,n_records,total_fine,...,Y_COORDINATE,LATITUDE,LONGITUDE,LOCATION,Boundaries - ZIP Codes,Community Areas,Zip Codes,Census Tracts,Wards,Boundaries - Wards (2023-)
0,8,19DS72200L,STRTSAN,1751 W 17TH ST,41.858425,-87.670688,LOWER WEST SIDE,2019/11/13,1,150.0,...,1.891697e+06,41.858433,-87.670694,"(41.85843303612964, -87.67069355317983)",43.0,33.0,14920.0,343.0,26.0,25.0
1,17,19DS72388L,STRTSAN,7800 S EXCHANGE AVE,41.753553,-87.554582,SOUTH SHORE,2019/11/15,1,150.0,...,1.853746e+06,41.753556,-87.554587,"(41.753556000940016, -87.5545875000019)",24.0,39.0,22538.0,246.0,37.0,5.0
2,17,19DS72388L,STRTSAN,7800 S EXCHANGE AVE,41.753553,-87.554582,SOUTH SHORE,2019/11/15,1,150.0,...,1.853746e+06,41.753556,-87.554587,"(41.753556000940016, -87.5545875000019)",24.0,39.0,22538.0,246.0,37.0,5.0
3,49,20DS72639L,STRTSAN,830 S MICHIGAN AVE,41.880103,-87.624303,LOOP,2019/11/13,1,150.0,...,1.896355e+06,41.870942,-87.624706,"(41.87094245216189, -87.62470609009438)",35.0,38.0,14913.0,368.0,10.0,9.0
4,50,20DS72695L,STRTSAN,830 S MICHIGAN AVE,41.880103,-87.624303,LOOP,2019/11/12,1,150.0,...,1.896355e+06,41.870942,-87.624706,"(41.87094245216189, -87.62470609009438)",35.0,38.0,14913.0,368.0,10.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,1863,23DT000453,TRANPORT,847 N PAULINA ST,41.897398,-87.669503,WEST TOWN,2023/01/31,1,500.0,...,1.905900e+06,41.897404,-87.669511,"(41.89740448256517, -87.66951134430457)",4.0,25.0,21560.0,518.0,41.0,1.0
356,1863,23DT000453,TRANPORT,847 N PAULINA ST,41.897398,-87.669503,WEST TOWN,2023/01/31,1,500.0,...,1.905900e+06,41.897404,-87.669511,"(41.89740448256517, -87.66951134430457)",4.0,25.0,21560.0,518.0,41.0,1.0
357,1863,23DT000453,TRANPORT,847 N PAULINA ST,41.897398,-87.669503,WEST TOWN,2023/01/31,1,500.0,...,1.905900e+06,41.897404,-87.669511,"(41.89740448256517, -87.66951134430457)",4.0,25.0,21560.0,518.0,41.0,1.0
358,1863,23DT000453,TRANPORT,847 N PAULINA ST,41.897398,-87.669503,WEST TOWN,2023/01/31,1,500.0,...,1.905861e+06,41.897299,-87.669777,"(41.89729893832596, -87.66977711527976)",4.0,25.0,21560.0,518.0,41.0,1.0
359,1885,23DT000535,TRANPORT,2333 W MOFFAT ST,41.914555,-87.686106,LOGAN SQUARE,2023/02/06,1,50.0,...,1.912120e+06,41.914566,-87.686114,"(41.91456600094058, -87.68611350000191)",1.0,23.0,22535.0,373.0,40.0,32.0

In [34]:
df_match_311vac['docket'].nunique()

163

In [35]:
df_match_311vac.groupby('dept').size()

dept
BAFCONP       3
POLICE        2
STRTSAN     222
TRANPORT    133
dtype: int64

# 4. Match Addresses to bank-owned vacant violations
no matches here, not sure why. maybe these buildings are managed separate from court dockets

In [54]:
df_match_bank_vac = pd.merge(df_addresses,df_vacant_violations,left_on="address",right_on="Property Address")
df_match_bank_vac

Empty DataFrame
Columns: [Unnamed: 0, address, lat, long, community, count_BAFCONP, count_POLICE, count_STRTSAN, count_TRANPORT, sum_BAFCONP, sum_POLICE, sum_STRTSAN, sum_TRANPORT, n_dockets, total_fines, dept, Docket Number, Violation Number, Issued Date, Issuing Department, Last Hearing Date, Property Address, Violation Type, Entity or Person(s), Disposition Description, Total Fines, Total Administrative Costs, Interest Amount, Collection Costs or Attorney Fees, Court Cost, Original Total Amount Due, Total Paid, Current Amount Due, Latitude, Longitude, Location, Boundaries - ZIP Codes, Community Areas, Zip Codes, Census Tracts, Wards]
Index: []

[0 rows x 41 columns]