<h1>Snow Clearance Fines, 2019-2023</h1>
23 January 2024

This notebook cleans up FOIA-requested data provided by the Department of Administrative Hearings. Though a full year of data is provided for the 2018-2019 season, I chose to look only at 2019-2023 to align with data available for 311 complaints.<br>
<br>
My analysis steps:
<ol>
<li><a href="#read">Read Data</a>
  <li><a href="#prep">Prepare Data for Analysis</a> 
   <li><a href="#correct">Correct Bad Addresses</a>   
<li><a href="#prep">Geocode Data</a>
</ol>

### Summary of Data Preparation

Dataset provided by Chicago's Department of Administrative Hearings (H064920-011124.xlsx) contained <strong>3058 records</strong> dating from 1/1/2001 to 9/12/2023.

<strong>Removed 498 records:</strong>
<ul>
    <li>2 records with missing dates
        <li>19 records between 1/1/2001 from 2/13/2018
<li>2 records after 6/30/2023
<li>475 records from winter 2018-2019
</ul>
    
That left <strong>2560 records</strong>.

<strong>Corrected addresses to enable geocoding:</strong>
    <ul>
<li>117 could not initially be geocoded due to typos or ambiguities in addresses (e.g. Belmlont, Lawerence, North instead of North Ave)
<li>4 could not be geocoded because address was listed as "UNKNOWN"
    </ul>

result is 2557 records <div style="color:red;">am I off by one?</div>

<strong>other data preparation</strong>
    <ul>
    <li>parsed dates to month and year
    <li>calculated season for all dates (e.g. 2019-2020 is for July 1 2019 to June 30 2020)
    </ul>
    
<strong>geocoding</strong><br>
In QGIS outside of this notebook, I geocoded addresses to first identify latitude and longitude corresponding to each address, and then mapping those coordinates to Chicago community areas using a spatial join

<a name="read"></a>
# 1. Read Data

In [1]:
import pandas as pd
import requests
#import datetime as dt #would only need this if I manipulated dates post-API data retrieval

In [2]:
df = pd.read_csv("../data/01-raw/FOIA-H064920-011124-snow-dockets.csv")
df.head()

,Docket Number,Violation Date,Violation Address,Issuing Department Code,Imposed Fine Detailed
0,22CS00058A,02/04/2022,6621 S LANGLEY,BAFCONP,$0.00
1,22CS00059A,01/04/2022,6613 S LANGLEY AVE,BAFCONP,$0.00
2,18CP093079,11/27/2018,5045 N TRIPP,POLICE,$0.00
3,19CP003510,01/16/2019,5045 N TRIPP,POLICE,$0.00
4,19CP004491,01/06/2019,1800 S LAKE SHORE DR,POLICE,$0.00

In [3]:
len(df)

3058

<a name="prepare"></a>
# 2. Prepare Data
Dataset provided by Chicago's Department of Administrative Hearings (H064920-011124.xlsx) contained 3058 records dating from 1/1/2001 to 9/12/2023.

From this dataset I removed:
<ul>
    <li>2 records with missing dates
        <li>19 records between 1/1/2001 from 2/13/2018
<li>2 records after 6/30/2023
<il>475 records from winter 2018-2019
    </ul>
    
This leaves 2560 records.

### remove records with missing violation dates

In [4]:
# find records with missing Violation Date. NaT means "Not a Time"
df[df['Violation Date'].isna()]

,Docket Number,Violation Date,Violation Address,Issuing Department Code,Imposed Fine Detailed
1472,21DT00019A,NaN,1601 E 95TH ST,TRANPORT,$0.00
1473,21DT00019A,NaN,1601 E 95TH ST,TRANPORT,$150.00

In [5]:
df = df[df['Violation Date'].notna()]
len(df)

3056

### parse dates

In [6]:
def get_season(month, year):
# Input:
#   month: numeric month of the year (1-12)
#   year (int): 4 digit year
# Returns:
#   season in yyyy-yyyy format. E.g. 2022-2023 means winter 2022-2023, or July 2022 to June 2023.

    if month >= 7:
        return f"{str(year)[-4:]}-{str(year + 1)[-4:]}"
    else:
        return f"{str(year - 1)[-4:]}-{str(year)[-4:]}"

In [7]:
# format and parse dates
df['Violation Date'] = pd.to_datetime(df['Violation Date'])
df['year'] = df['Violation Date'].dt.year
df['month'] = df['Violation Date'].dt.month
df['date'] = df['Violation Date'].dt.date
df['season'] = df.apply(lambda row: get_season(row['month'], row['year']), axis=1)
df['Imposed Fine Detailed'] = pd.to_numeric(df['Imposed Fine Detailed'].replace('[\$,]', '', regex=True), errors='coerce')
df.head()

,Docket Number,Violation Date,Violation Address,Issuing Department Code,Imposed Fine Detailed,year,month,date,season
0,22CS00058A,2022-02-04,6621 S LANGLEY,BAFCONP,0.0,2022,2,2022-02-04,2021-2022
1,22CS00059A,2022-01-04,6613 S LANGLEY AVE,BAFCONP,0.0,2022,1,2022-01-04,2021-2022
2,18CP093079,2018-11-27,5045 N TRIPP,POLICE,0.0,2018,11,2018-11-27,2018-2019
3,19CP003510,2019-01-16,5045 N TRIPP,POLICE,0.0,2019,1,2019-01-16,2018-2019
4,19CP004491,2019-01-06,1800 S LAKE SHORE DR,POLICE,0.0,2019,1,2019-01-06,2018-2019

### summarize by season

In [8]:
df.groupby('season').size()

season
2000-2001     15
2011-2012      1
2017-2018      3
2018-2019    475
2019-2020    525
2020-2021    996
2021-2022    915
2022-2023    124
2023-2024      2
dtype: int64

In [9]:
len(df)

3056

### filter for 2019 to 2023 only

In [10]:
df = df[(df['season'].isin(['2019-2020','2020-2021','2021-2022','2022-2023']))]
len(df)

2560

### add city and state, for geocoding

In [11]:
df['City']='Chicago'
df['State']='Illinois'
df.head()

,Docket Number,Violation Date,Violation Address,Issuing Department Code,Imposed Fine Detailed,year,month,date,season,City,State
0,22CS00058A,2022-02-04,6621 S LANGLEY,BAFCONP,0.0,2022,2,2022-02-04,2021-2022,Chicago,Illinois
1,22CS00059A,2022-01-04,6613 S LANGLEY AVE,BAFCONP,0.0,2022,1,2022-01-04,2021-2022,Chicago,Illinois
63,20CP00166A,2020-02-13,5959 W GRAND AVE,POLICE,0.0,2020,2,2020-02-13,2019-2020,Chicago,Illinois
64,20CP00166A,2020-02-13,5959 W GRAND AVE,POLICE,150.0,2020,2,2020-02-13,2019-2020,Chicago,Illinois
65,20CP00167A,2020-02-13,5940 W FULLERTON AVE,POLICE,0.0,2020,2,2020-02-13,2019-2020,Chicago,Illinois

<a name ="correct"></a>
# 3. Correct Bad Addresses

In [12]:
# strip out trailing whitespace to get address merge to function. otherwise about 75% don't link correctly
df['Violation Address'] = df['Violation Address'].str.strip()

In [13]:
df_corrections = pd.read_csv("../data/01-raw/address-corrections.csv")
df_corrections['Violation Address'] = df_corrections['Violation Address'].str.strip()
df_corrections.head()

   Violation Address    Cleaned Address  Corrected
0     10320 S CHURCH  10320 S CHURCH ST       True
1       1108 W GRAND   1108 W GRAND AVE       True
2  1111 W MARSHFIELD  1111 N MARSHFIELD       True
3       1146 W GRAND   1146 W GRAND AVE       True
4    115 W LAWERENCE     115 W LAWRENCE       True

In [14]:
df_cleaned = pd.merge(df,df_corrections, on='Violation Address', how='left')

In [15]:
# for correct records, copy existing address to cleaned address 
df_cleaned.loc[df_cleaned['Corrected'].isna(), 'Cleaned Address'] = df_cleaned['Violation Address']
df_cleaned.head()

,Docket Number,Violation Date,Violation Address,Issuing Department Code,Imposed Fine Detailed,year,month,date,season,City,State,Cleaned Address,Corrected
0,22CS00058A,2022-02-04,6621 S LANGLEY,BAFCONP,0.0,2022,2,2022-02-04,2021-2022,Chicago,Illinois,6621 S LANGLEY,NaN
1,22CS00059A,2022-01-04,6613 S LANGLEY AVE,BAFCONP,0.0,2022,1,2022-01-04,2021-2022,Chicago,Illinois,6613 S LANGLEY AVE,NaN
2,20CP00166A,2020-02-13,5959 W GRAND AVE,POLICE,0.0,2020,2,2020-02-13,2019-2020,Chicago,Illinois,5959 W GRAND AVE,NaN
3,20CP00166A,2020-02-13,5959 W GRAND AVE,POLICE,150.0,2020,2,2020-02-13,2019-2020,Chicago,Illinois,5959 W GRAND AVE,NaN
4,20CP00167A,2020-02-13,5940 W FULLERTON AVE,POLICE,0.0,2020,2,2020-02-13,2019-2020,Chicago,Illinois,5940 W FULLERTON AVE,NaN

In [16]:
len(df_cleaned)

2561

In [17]:
df_cleaned.groupby('Corrected').size()

Corrected
True    117
dtype: int64

<a name="geocode"></a>
# 4. Export and Geocode Data

In [18]:
df_cleaned.to_csv("../data/02-prepped/fines-2019-2023.csv")

### Geocoding Data
I did the following in QGIS to assign community areas to each fine:
<ol>
    <li>gathered files- points (CSV of snow clearance fines and addresses) and shapes (Chicago community areas GeoJSON)
                <li>imported fines/addresses as Delimited Text Layer
                    <li>geocoded addresses using MMQGIS
            <li>imported regions GeoJSON
               <li>performed a point-in-polygon spatial join
                   <li>exported geocoded data as fines-geocoded-communities.csv
    </ol>