<h1>Snow Clearance Fines, 2019-2023</h1>
15 February 2024

This analysis looks at fines levied for uncleared sidewalks, based on FOIA data requested from the Department of Administrative Hearings (H064920-011124.xlsx). This dataset contained 3058 records dating from 1/1/2001 to 9/12/2023; filtered for those between 7/1/2019 and 6/30/2023 has 2560 records. Four of these could not be geocoded due to "unknown" address.<br>
<br>
<ol>
<li><a href="#read">Read Data</a>
    <li><a href="#docket">Summarize by Dockets</a>- roll up fines data to get one record per court docket
        <li><a href="#address">Summarize by Address</a>- roll up dockets to get one record per address
            <li><a href="#community">Summarize Dockets by Community</a>- look for patterns across Chicago community areas
</ol>

### Record Count
<ul>
    <li>2556 valid fines records from July 1 2019 to June 30 2023
        <li>1912 dockets. Some dockets contain multiple fines records, which are identical except for a different fine amount in each record.
            <li>1735 addresses. some addresses have been fined by both CDOT and Streets & Sanitation, with a separate court docket for each.
                <li>some addresses have been fined by multiple agencies
    </ul>

### Preliminary Findings    
<ul>
    <li>73% of court dockets were issued by CDOT, 26% by Streets and Sanitation. The remaining 1% were issued by the police or Business Affairs and Consumer Protection
    <li>Englewood, Garfield Ridge, and West Englewood are the three communities with the highest number of dockets per capita
    <li>Only 25 court dockets were issued by police. West Englewood, Englewood, and Garfield Ridge have the highest rates and account for half the dockets citywide.
        <li>For dockets issued by CDOT, Garfield Ridge, Grand Boulevard, and Armour Square have the highest per capita rate
            <li>For dockets issued by Streets and Sanitation, Englewood, West Englewood, and Brighton Park have the highest per capita rate
    </ul>

<a name="read"></a>
# 1. Read and Prepare Geocoded Fines Data

In [1]:
import pandas as pd
import requests
import altair as alt
import numpy as np
#import datetime as dt #would only need this if I manipulated dates post-API data retrieval

Note the following data preparation steps prior to this notebook
<ol>
<li>Prepared data by parsing dates and correcting data entry errors in addresses; see <a href="fines-01-prep-data.ipynb">fines-01-prep-data.ipynb</a>.
    <li>Geocoded addresses to identify lat and long coordinates, and spatially joined addresses to Community Areas shapefile. I did this offline in QGIS.
        </ol>

In [2]:
df = pd.read_csv("../data/03-geocoded/fines-geocoded-w-communities.csv")
df.head()

,field_1,Docket Number,Violation Date,Violation Address,Issuing Department Code,Imposed Fine Detailed,year,month,date,season,...,latlong,community,area,shape_area,perimeter,area_num_1,area_numbe,comarea_id,comarea,shape_len
0,416,20DT000917,2020/02/14,3100 S INDIANA,TRANPORT,0.0,2020,2,2020/02/14,2019-2020,...,"41.838241,-87.622033",DOUGLAS,0.0,4.600462e+07,0.0,35.0,35.0,0.0,0.0,31027.05451
1,417,20DT000917,2020/02/14,3100 S INDIANA,TRANPORT,150.0,2020,2,2020/02/14,2019-2020,...,"41.838241,-87.622033",DOUGLAS,0.0,4.600462e+07,0.0,35.0,35.0,0.0,0.0,31027.05451
2,418,20DT000917,2020/02/14,3100 S INDIANA,TRANPORT,500.0,2020,2,2020/02/14,2019-2020,...,"41.838241,-87.622033",DOUGLAS,0.0,4.600462e+07,0.0,35.0,35.0,0.0,0.0,31027.05451
3,757,21DT000478,2021/01/28,3317 S PRAIRIE,TRANPORT,110.0,2021,1,2021/01/28,2020-2021,...,"41.834323092878925,-87.62050356526285",DOUGLAS,0.0,4.600462e+07,0.0,35.0,35.0,0.0,0.0,31027.05451
4,773,21DT000493,2021/01/29,3658 S PRAIRIE,TRANPORT,500.0,2021,1,2021/01/29,2020-2021,...,"41.828145583678925,-87.62059581323",DOUGLAS,0.0,4.600462e+07,0.0,35.0,35.0,0.0,0.0,31027.05451

In [3]:
len(df)

2557

### parse lat and long

In [4]:
#parse lat and long
df['lat']=df['latlong'].str.split(',').str[0]
df['long']=df['latlong'].str.split(',').str[1]

### rename and reduce columns
in future iterations, this renaming should be done upstream

In [5]:
df = df[['Docket Number','Cleaned Address','Issuing Department Code','Imposed Fine Detailed','date','season','community','lat','long']]

In [6]:
df=df.rename(columns={"Docket Number":"docket","Cleaned Address":"address","Issuing Department Code":"dept","Imposed Fine Detailed":"fine_amount","date":"violation_date"})

### review and clean records with no community assigned

In [7]:
df[df["community"].isna()]

,docket,address,dept,fine_amount,violation_date,season,community,lat,long
2551,19DS72153L,300 W WASHINGTON ST,STRTSAN,0.0,2019/11/12,2019-2020,NaN,41.882868,-88.210529
2552,19DS72153L,300 W WASHINGTON ST,STRTSAN,150.0,2019/11/12,2019-2020,NaN,41.882868,-88.210529
2553,19DS72153L,300 W WASHINGTON ST,STRTSAN,500.0,2019/11/12,2019-2020,NaN,41.882868,-88.210529
2554,21CP002398,1850 W MARQUETTE ST,POLICE,0.0,2021/02/12,2020-2021,NaN,42.3236639,-87.8381484
2555,21CP002398,1850 W MARQUETTE ST,POLICE,50.0,2021/02/12,2020-2021,NaN,42.3236639,-87.8381484
2556,21DT002747,5450 S 47TH,TRANPORT,500.0,2021/01/27,2020-2021,NaN,41.8654712,-87.7423005

One address, 5450 S 47TH (docket 21DT002747), is not a valid address but was geocoded at 41.8654712,-87.7423005 at the edge of Lawndale by Roosevelt, which doesn't look right. If it's 5450 W. 47th it'd be in suburban Stickney. So I'm choosing to skip it.

In [8]:
#drop record with invalid address
index_to_drop = df[df['address'] == '5450 S 47TH'].index
df = df.drop(index_to_drop)

In [9]:
# manually assign community areas for the other two addresses
df.loc[df['address'] == '300 W WASHINGTON ST', 'community'] = 'LOOP'
df.loc[df['address'] == '1850 W MARQUETTE ST', 'community'] = 'WEST ENGLEWOOD'

In [10]:
df.tail()

,docket,address,dept,fine_amount,violation_date,season,community,lat,long
2551,19DS72153L,300 W WASHINGTON ST,STRTSAN,0.0,2019/11/12,2019-2020,LOOP,41.882868,-88.210529
2552,19DS72153L,300 W WASHINGTON ST,STRTSAN,150.0,2019/11/12,2019-2020,LOOP,41.882868,-88.210529
2553,19DS72153L,300 W WASHINGTON ST,STRTSAN,500.0,2019/11/12,2019-2020,LOOP,41.882868,-88.210529
2554,21CP002398,1850 W MARQUETTE ST,POLICE,0.0,2021/02/12,2020-2021,WEST ENGLEWOOD,42.3236639,-87.8381484
2555,21CP002398,1850 W MARQUETTE ST,POLICE,50.0,2021/02/12,2020-2021,WEST ENGLEWOOD,42.3236639,-87.8381484

<a name="docket"></a>
# 2. Summarize by Docket

In [11]:
# by season
df_dockets=df.groupby(['docket','dept','address','lat','long','community','violation_date','season']).agg(
    n_records=('docket','count'),
    total_fine=('fine_amount', 'sum')
).reset_index()

In [12]:
df_dockets.head()

,docket,dept,address,lat,long,community,violation_date,season,n_records,total_fine
0,19DS68300L,STRTSAN,4710 S WESTERN AVE,41.807859,-87.68479703503766,BRIGHTON PARK,2019/11/13,2019-2020,1,150.0
1,19DS69216L,STRTSAN,1425 W MORSE AVE,42.0074513,-87.6668285,ROGERS PARK,2019/11/13,2019-2020,1,50.0
2,19DS70010L,STRTSAN,715 E 47TH ST,41.8093383,-87.6080127,GRAND BOULEVARD,2019/11/13,2019-2020,1,150.0
3,19DS72153L,STRTSAN,300 W WASHINGTON ST,41.882868,-88.210529,LOOP,2019/11/12,2019-2020,3,650.0
4,19DS72160L,STRTSAN,6929 N SHERIDAN RD,41.9598134,-87.654693,UPTOWN,2019/11/14,2019-2020,1,500.0

### by issuing department

In [13]:
# by issuing department
df_dockets_summary = df_dockets.groupby('dept').agg(
    total_fine=('total_fine', 'sum'),
    n_dockets=('docket','count'),
    n_records=('n_records','sum')
).reset_index()
df_dockets_summary['pct_dockets']=df_dockets_summary['n_dockets']/df_dockets_summary['n_dockets'].sum()
df_dockets_summary

       dept  total_fine  n_dockets  n_records  pct_dockets
0   BAFCONP         0.0          2          2     0.001046
1    POLICE      1700.0         25         30     0.013075
2   STRTSAN    176610.0        497        659     0.259937
3  TRANPORT    406959.0       1388       1865     0.725941

### by total fine amount

In [14]:
df_fines = df_dockets.groupby('total_fine').size().reset_index(name='n_dockets')

In [15]:
chart = alt.Chart(df_fines).mark_bar().encode(
    x=alt.X('total_fine:O', title = 'Binned Fine'),
    y=alt.Y('n_dockets:Q', title='Number of Dockets')
).properties(
    width=600,
    height=400
)

chart.display()

alt.Chart(...)

In [16]:
bins = [0, 1, 150, 151, 500, 501, 8301]
labels = ['0', '1-149', '150', '151-499', '500', '501-8300']

df_dockets['binned_fine'] = pd.cut(df_dockets['total_fine'], bins=bins, labels=labels, right=False, include_lowest=True)

df_fines_binned = df_dockets.groupby('binned_fine')['docket'].count().reset_index(name='n_dockets')
df_fines_binned

/tmp/ipykernel_1509/2177724273.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_fines_binned = df_dockets.groupby('binned_fine')['docket'].count().reset_index(name='n_dockets')

  binned_fine  n_dockets
0           0        187
1       1-149        196
2         150        705
3     151-499         67
4         500        546
5    501-8300        211

In [17]:
chart = alt.Chart(df_fines_binned).mark_bar().encode(
    x=alt.X('binned_fine:O', title = 'Binned Fine'),
    y=alt.Y('n_dockets:Q', title='Number of Dockets')
).properties(
    width=600,
    height=400
)

chart.display()

alt.Chart(...)

<a name="address"></a>
# 3. Summarize by Address

### summarize total amount of fines and number of dockets by department, by address

In [18]:
# create pivot table
df_addresses = df_dockets.pivot_table(index=['address', 'lat','long','community'],
                             columns='dept',
                             values='total_fine',
                             aggfunc=['count', 'sum'],
                             fill_value=0)

# Rename columns for clarity
df_addresses.columns = ['_'.join(col).strip() for col in df_addresses.columns.values]

df_addresses_dates = df_dockets.groupby('address')['violation_date'].agg(['min', 'max']).reset_index()

# Add total columns for each row
df_addresses['n_dockets'] = df_addresses.filter(like='count_').sum(axis=1)
df_addresses['total_fines'] = df_addresses.filter(like='sum_').sum(axis=1)

df_addresses.reset_index(inplace=True)

In [19]:
df_addresses.head()

,address,lat,long,community,count_BAFCONP,count_POLICE,count_STRTSAN,count_TRANPORT,sum_BAFCONP,sum_POLICE,sum_STRTSAN,sum_TRANPORT,n_dockets,total_fines
0,10 N KILBOURN AVE,41.88096235,-87.73835576302265,WEST GARFIELD PARK,0,0,1,0,0.0,0.0,150.0,0.0,1,150.0
1,100 E CHESTNUT ST,41.8985878,-87.62589246260751,NEAR NORTH SIDE,0,0,0,1,0.0,0.0,0.0,550.0,1,550.0
2,100 N KEDZIE,41.9467224,-87.7078351,IRVING PARK,0,0,0,1,0.0,0.0,0.0,0.0,1,0.0
3,100 N KEDZIE AVE,41.88315915,-87.70652906434054,EAST GARFIELD PARK,0,0,3,0,0.0,0.0,150.0,0.0,3,150.0
4,100 W GRAND,41.7655813,-87.6216949,GREATER GRAND CROSSING,0,0,0,1,0.0,0.0,0.0,500.0,1,500.0

In [20]:
def get_department(BAFCONP, POLICE, STRTSAN, TRANPORT):
    conditions = [
        (TRANPORT >= 1) & (STRTSAN >= 1),
        (TRANPORT >= 1),
        (STRTSAN >= 1),
        (POLICE >= 1),
        (BAFCONP >= 1)
    ]
    choices = ['cdot_and_streets', 'cdot', 'streets', 'police', 'bafconp']
    return np.select(conditions, choices, default='unknown')

In [21]:
df_addresses['dept']= get_department(df_addresses['count_BAFCONP'],
                                     df_addresses['count_POLICE'],
                                     df_addresses['count_STRTSAN'],
                                     df_addresses['count_TRANPORT'])

In [22]:
df_addresses.head()

,address,lat,long,community,count_BAFCONP,count_POLICE,count_STRTSAN,count_TRANPORT,sum_BAFCONP,sum_POLICE,sum_STRTSAN,sum_TRANPORT,n_dockets,total_fines,dept
0,10 N KILBOURN AVE,41.88096235,-87.73835576302265,WEST GARFIELD PARK,0,0,1,0,0.0,0.0,150.0,0.0,1,150.0,streets
1,100 E CHESTNUT ST,41.8985878,-87.62589246260751,NEAR NORTH SIDE,0,0,0,1,0.0,0.0,0.0,550.0,1,550.0,cdot
2,100 N KEDZIE,41.9467224,-87.7078351,IRVING PARK,0,0,0,1,0.0,0.0,0.0,0.0,1,0.0,cdot
3,100 N KEDZIE AVE,41.88315915,-87.70652906434054,EAST GARFIELD PARK,0,0,3,0,0.0,0.0,150.0,0.0,3,150.0,streets
4,100 W GRAND,41.7655813,-87.6216949,GREATER GRAND CROSSING,0,0,0,1,0.0,0.0,0.0,500.0,1,500.0,cdot

<a name="community"></a>
# 4. Summarize by Community
Note that 7 communities have no dockets

In [23]:
df_community = df_dockets.pivot_table(index='community',
                             columns='dept',
                             values='total_fine',
                             aggfunc=['count'],
                             fill_value=0).reset_index()
# Flatten the MultiIndex in columns
df_community.columns = ['_'.join(col).strip() for col in df_community.columns.values]

df_community = df_community.rename(columns={'community_':'community'})

# Reset the index to flatten it
df_community.reset_index(drop=True, inplace=True)

df_community['n_dockets']=df_community['count_BAFCONP']+df_community['count_POLICE']+df_community['count_STRTSAN']+df_community['count_TRANPORT']

df_community.head()

,community,count_BAFCONP,count_POLICE,count_STRTSAN,count_TRANPORT,n_dockets
0,ALBANY PARK,0,0,0,15,15
1,ARCHER HEIGHTS,0,0,0,12,12
2,ARMOUR SQUARE,0,0,0,26,26
3,ASHBURN,0,0,0,2,2
4,AUBURN GRESHAM,0,0,3,16,19

### read community population

In [24]:
# retrieved on 1/11/24, but 2020 Census Population figures should be static
df_population = pd.read_csv("../data/01-raw/population_cmap_2022.csv")

# simplify dataframe to get only essentials
df_population = df_population[['GEOID','GEOG','2020_POP']]
df_population = df_population.rename(columns={'GEOG':'COMMUNITY_NAME'})
df_population['COMMUNITY_CAPS']=df_population['COMMUNITY_NAME'].str.upper()
df_population.head()

   GEOID  COMMUNITY_NAME  2020_POP  COMMUNITY_CAPS
0     14     Albany Park     48396     ALBANY PARK
1     57  Archer Heights     14196  ARCHER HEIGHTS
2     34   Armour Square     13890   ARMOUR SQUARE
3     70         Ashburn     41098         ASHBURN
4     71  Auburn Gresham     44878  AUBURN GRESHAM

### merge in community population data

In [25]:
df_community_summary = pd.merge(df_community,df_population,left_on='community',right_on='COMMUNITY_CAPS',how='right')
df_community_summary.head()

,community,count_BAFCONP,count_POLICE,count_STRTSAN,count_TRANPORT,n_dockets,GEOID,COMMUNITY_NAME,2020_POP,COMMUNITY_CAPS
0,ALBANY PARK,0.0,0.0,0.0,15.0,15.0,14,Albany Park,48396,ALBANY PARK
1,ARCHER HEIGHTS,0.0,0.0,0.0,12.0,12.0,57,Archer Heights,14196,ARCHER HEIGHTS
2,ARMOUR SQUARE,0.0,0.0,0.0,26.0,26.0,34,Armour Square,13890,ARMOUR SQUARE
3,ASHBURN,0.0,0.0,0.0,2.0,2.0,70,Ashburn,41098,ASHBURN
4,AUBURN GRESHAM,0.0,0.0,3.0,16.0,19.0,71,Auburn Gresham,44878,AUBURN GRESHAM

### calculate dockets per capita

In [26]:
# per 10,000 capita, per year over 4 years
df_community_summary['dp10k'] = \
(10000/4)*df_community_summary['n_dockets']/df_community_summary['2020_POP']
df_community_summary['streets_p10k'] = \
(10000/4)*df_community_summary['count_STRTSAN']/df_community_summary['2020_POP']
df_community_summary['cdot_p10k'] = \
(10000/4)*df_community_summary['count_TRANPORT']/df_community_summary['2020_POP']
df_community_summary['police_p10k'] = \
(10000/4)*df_community_summary['count_POLICE']/df_community_summary['2020_POP']
df_community_summary['business_p10k'] = \
(10000/4)*df_community_summary['count_BAFCONP']/df_community_summary['2020_POP']

### top communities for dockets per capita

In [27]:
df_community_summary.sort_values(by='dp10k',ascending = False).head()

,community,count_BAFCONP,count_POLICE,count_STRTSAN,count_TRANPORT,n_dockets,GEOID,COMMUNITY_NAME,2020_POP,COMMUNITY_CAPS,dp10k,streets_p10k,cdot_p10k,police_p10k,business_p10k
23,ENGLEWOOD,0.0,4.0,58.0,7.0,69.0,68,Englewood,24369,ENGLEWOOD,7.078666,5.950183,0.718125,0.410357,0.0
27,GARFIELD RIDGE,0.0,3.0,2.0,86.0,91.0,56,Garfield Ridge,35439,GARFIELD RIDGE,6.419481,0.141088,6.066763,0.211631,0.0
70,WEST ENGLEWOOD,0.0,6.0,60.0,9.0,75.0,67,West Englewood,29647,WEST ENGLEWOOD,6.324417,5.059534,0.758930,0.505953,0.0
28,GRAND BOULEVARD,0.0,0.0,5.0,47.0,52.0,38,Grand Boulevard,24589,GRAND BOULEVARD,5.286917,0.508357,4.778560,0.000000,0.0
54,OAKLAND,0.0,0.0,1.0,12.0,13.0,36,Oakland,6799,OAKLAND,4.780115,0.367701,4.412414,0.000000,0.0

### top communities for Streets and Sanitation dockets per capita

In [28]:
df_community_summary.sort_values(by='streets_p10k',ascending = False).head(10)

,community,count_BAFCONP,count_POLICE,count_STRTSAN,count_TRANPORT,n_dockets,GEOID,COMMUNITY_NAME,2020_POP,COMMUNITY_CAPS,dp10k,streets_p10k,cdot_p10k,police_p10k,business_p10k
23,ENGLEWOOD,0.0,4.0,58.0,7.0,69.0,68,Englewood,24369,ENGLEWOOD,7.078666,5.950183,0.718125,0.410357,0.0
70,WEST ENGLEWOOD,0.0,6.0,60.0,9.0,75.0,67,West Englewood,29647,WEST ENGLEWOOD,6.324417,5.059534,0.758930,0.505953,0.0
11,BRIGHTON PARK,0.0,0.0,70.0,11.0,81.0,58,Brighton Park,45053,BRIGHTON PARK,4.494706,3.884314,0.610392,0.000000,0.0
49,NEW CITY,0.0,0.0,62.0,7.0,69.0,61,New City,43628,NEW CITY,3.953883,3.552764,0.401119,0.000000,0.0
29,GREATER GRAND CROSSING,0.0,1.0,34.0,1.0,36.0,69,Greater Grand Crossing,31471,GREATER GRAND CROSSING,2.859776,2.700899,0.079438,0.079438,0.0
36,KENWOOD,0.0,0.0,15.0,18.0,33.0,39,Kenwood,19116,KENWOOD,4.315756,1.961707,2.354049,0.000000,0.0
59,ROGERS PARK,0.0,0.0,32.0,7.0,39.0,1,Rogers Park,55628,ROGERS PARK,1.752714,1.438125,0.314590,0.000000,0.0
19,EAST GARFIELD PARK,0.0,0.0,9.0,29.0,38.0,27,East Garfield Park,19992,EAST GARFIELD PARK,4.751901,1.125450,3.626451,0.000000,0.0
41,LOWER WEST SIDE,0.0,0.0,15.0,23.0,38.0,31,Lower West Side,33751,LOWER WEST SIDE,2.814731,1.111078,1.703653,0.000000,0.0
39,LINCOLN SQUARE,0.0,0.0,13.0,24.0,37.0,4,Lincoln Square,40494,LINCOLN SQUARE,2.284289,0.802588,1.481701,0.000000,0.0

### top communities for CDOT dockets per capita

In [29]:
df_community_summary.sort_values(by='cdot_p10k',ascending = False).head()

,community,count_BAFCONP,count_POLICE,count_STRTSAN,count_TRANPORT,n_dockets,GEOID,COMMUNITY_NAME,2020_POP,COMMUNITY_CAPS,dp10k,streets_p10k,cdot_p10k,police_p10k,business_p10k
27,GARFIELD RIDGE,0.0,3.0,2.0,86.0,91.0,56,Garfield Ridge,35439,GARFIELD RIDGE,6.419481,0.141088,6.066763,0.211631,0.0
28,GRAND BOULEVARD,0.0,0.0,5.0,47.0,52.0,38,Grand Boulevard,24589,GRAND BOULEVARD,5.286917,0.508357,4.778560,0.000000,0.0
2,ARMOUR SQUARE,0.0,0.0,0.0,26.0,26.0,34,Armour Square,13890,ARMOUR SQUARE,4.679626,0.000000,4.679626,0.000000,0.0
38,LINCOLN PARK,0.0,0.0,2.0,126.0,128.0,7,Lincoln Park,70492,LINCOLN PARK,4.539522,0.070930,4.468592,0.000000,0.0
54,OAKLAND,0.0,0.0,1.0,12.0,13.0,36,Oakland,6799,OAKLAND,4.780115,0.367701,4.412414,0.000000,0.0

### top communities for police dockets per capita

In [30]:
df_community_summary.sort_values(by='police_p10k',ascending = False).head()

,community,count_BAFCONP,count_POLICE,count_STRTSAN,count_TRANPORT,n_dockets,GEOID,COMMUNITY_NAME,2020_POP,COMMUNITY_CAPS,dp10k,streets_p10k,cdot_p10k,police_p10k,business_p10k
70,WEST ENGLEWOOD,0.0,6.0,60.0,9.0,75.0,67,West Englewood,29647,WEST ENGLEWOOD,6.324417,5.059534,0.758930,0.505953,0.000000
23,ENGLEWOOD,0.0,4.0,58.0,7.0,69.0,68,Englewood,24369,ENGLEWOOD,7.078666,5.950183,0.718125,0.410357,0.000000
27,GARFIELD RIDGE,0.0,3.0,2.0,86.0,91.0,56,Garfield Ridge,35439,GARFIELD RIDGE,6.419481,0.141088,6.066763,0.211631,0.000000
76,WOODLAWN,2.0,2.0,0.0,0.0,4.0,42,Woodlawn,24425,WOODLAWN,0.409417,0.000000,0.000000,0.204708,0.204708
8,BELMONT CRAGIN,0.0,5.0,8.0,54.0,67.0,19,Belmont Cragin,78116,BELMONT CRAGIN,2.144247,0.256029,1.728199,0.160018,0.000000

In [31]:
# number of police dockets by community, since there's a small number
df_community_summary.sort_values(by='count_POLICE',ascending = False).head()

,community,count_BAFCONP,count_POLICE,count_STRTSAN,count_TRANPORT,n_dockets,GEOID,COMMUNITY_NAME,2020_POP,COMMUNITY_CAPS,dp10k,streets_p10k,cdot_p10k,police_p10k,business_p10k
70,WEST ENGLEWOOD,0.0,6.0,60.0,9.0,75.0,67,West Englewood,29647,WEST ENGLEWOOD,6.324417,5.059534,0.758930,0.505953,0.000000
8,BELMONT CRAGIN,0.0,5.0,8.0,54.0,67.0,19,Belmont Cragin,78116,BELMONT CRAGIN,2.144247,0.256029,1.728199,0.160018,0.000000
23,ENGLEWOOD,0.0,4.0,58.0,7.0,69.0,68,Englewood,24369,ENGLEWOOD,7.078666,5.950183,0.718125,0.410357,0.000000
27,GARFIELD RIDGE,0.0,3.0,2.0,86.0,91.0,56,Garfield Ridge,35439,GARFIELD RIDGE,6.419481,0.141088,6.066763,0.211631,0.000000
76,WOODLAWN,2.0,2.0,0.0,0.0,4.0,42,Woodlawn,24425,WOODLAWN,0.409417,0.000000,0.000000,0.204708,0.204708

### top communities for business affairs dockets per capita

In [32]:
df_community_summary.sort_values(by='business_p10k',ascending = False).head()

,community,count_BAFCONP,count_POLICE,count_STRTSAN,count_TRANPORT,n_dockets,GEOID,COMMUNITY_NAME,2020_POP,COMMUNITY_CAPS,dp10k,streets_p10k,cdot_p10k,police_p10k,business_p10k
76,WOODLAWN,2.0,2.0,0.0,0.0,4.0,42,Woodlawn,24425,WOODLAWN,0.409417,0.000000,0.000000,0.204708,0.204708
48,NEAR WEST SIDE,0.0,0.0,3.0,83.0,86.0,28,Near West Side,67881,NEAR WEST SIDE,3.167307,0.110487,3.056820,0.000000,0.000000
54,OAKLAND,0.0,0.0,1.0,12.0,13.0,36,Oakland,6799,OAKLAND,4.780115,0.367701,4.412414,0.000000,0.000000
53,NORWOOD PARK,0.0,0.0,1.0,5.0,6.0,10,Norwood Park,38303,NORWOOD PARK,0.391614,0.065269,0.326345,0.000000,0.000000
52,NORTH PARK,0.0,0.0,1.0,9.0,10.0,13,North Park,17559,NORTH PARK,1.423771,0.142377,1.281394,0.000000,0.000000

# 5. Export for Analysis

In [35]:
df_addresses.to_csv("../data/04-standardized/fines-by-address.csv", index=False)
df_dockets.to_csv("../data/04-standardized/fines-by-docket.csv", index= False)
df_community_summary.to_csv("../results/dockets-by-community.csv", index= False)